<header id="header-nav" class="header fixed top-0 right-0 w-full z-[999]">
  <div class="container-fluid mx-auto flex flex-wrap items-center showrow">
    <a class="web-logo" href="../">
      <img src="../assets/images/logo-vss.svg" alt="logo-vss" class="w-[205px]">
    </a>
    <div class="main-menu text-white font-semibold">
      <div class="mainmenu-top flex-wrap w-full justify-between">
        <div class="lang">
          <a href="#" class="active">EN</a>
          <a href="#" >ID</a>
        </div>
        <div class="sosmed">
          <span>Follow us:</span>
          <a href="https://www.instagram.com/vikingsunsetstudios/">INSTAGRAM</a>
          <a href="https://www.youtube.com/channel/UCNaGh98m--hX6S869AJL3JQ">YOUTUBE</a>
        </div>
      </div>
      <nav class="nav-main flex">
        <a href="../about" class="{% if activePage == 'about' %}active{% endif %}">
          <span>About</span>
        </a>
        <a href="../our-work" class="{% if activePage == 'our-work' %}active{% endif %}">
          <span>Our Work</span>
        </a>
        <a href="../services" class="{% if activePage == 'services' %}active{% endif %}">
          <span>Services</span>
        </a>
        <a href="../equipment" class="{% if activePage == 'equipment' %}active{% endif %}">
          <span>Equipment</span>
        </a>
        <a href="../film-fund" class="{% if activePage == 'film-fund' %}active{% endif %}">
          <span>Viking Film Fund</span>
        </a>
        <a href="../blog" class="{% if activePage == 'blog' %}active{% endif %}">
          <span>Blog</span>
        </a>
        <a href="mailto:info@vikingsunsetstudios.com" target="_blank" class="btn-primary py-1 px-[12px] bg-primary border-1 border-[#FFF] text-white inline-block transition duration-300 ease-in-out hover:scale-[1.02] font-medium">Let’s Talk</a>
      </nav>
      <a href="mailto:info@vikingsunsetstudios.com" target="_blank" class="btn-primary py-1 px-[12px] bg-primary border-1 border-[#FFF] text-white inline-block transition duration-300 ease-in-out hover:scale-[1.02] font-medium">Let’s Talk</a>
    </div>
    <div class="burgermenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>