html {
    scroll-behavior: smooth;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    body {
      will-change: transform;
    }
  } */
  @font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/instrument-condendsed/InstrumentSansCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/instrument-condendsed/InstrumentSansCondensed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Instrument Sans Condensed';
    src: url('../fonts/instrument-condendsed/InstrumentSansCondensed-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

#cursor-text::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #FF7324;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    margin-top: -3px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 600;
}

html.popup-show{
    max-height: 100vh;
    overflow: hidden;
}
html.popup-show main{
    position: relative;
}
html.popup-show .backdrop{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #211C1C4D;
    backdrop-filter: blur(8px);
    z-index: 10;
}
html.popup-show .location-detail.popup.active{
    transform: translateX(-66.666667vw);
}

main{
}
.font-intrumentsans{
    font-variation-settings: 'wdth' 75;
}

h1,h2,h3,h4,h5{letter-spacing: -0.04em;}
.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    transition: all .3s ease-in-out;
}
h1{
    font-size: 72px;
    line-height: 1.2em;
}
.header.show{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: #211c1c;
}
.header.show .mainmenu-top a.active,
.header.show .nav-main a.active{
    color: #E64351;
}
.web-logo{
    flex: 0 0 270px;
    max-width: 270px;
    padding: 32px;
}
.web-logo img{
    width: 100%;
    height: auto;
}
.main-menu{
    flex: 0 0 calc(100% - 270px);
    max-width: calc(100% - 270px);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    display: block;
    position: relative;
}
.main-menu .mainmenu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.main-menu .mainmenu-top .lang {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.main-menu .mainmenu-top .lang a{
    padding: 8px 16px;
    display: block;
    font-size: 12px;
    line-height: 1.3em;
    font-weight: 500;
    letter-spacing: -0.02em;
    opacity: .5;
    transition: all .3s ease-in-out;
}
.main-menu .mainmenu-top .lang a:hover,
.main-menu .mainmenu-top .lang a.active{
    opacity: 1;
}
.main-menu .mainmenu-top .lang a:not(:first-child){
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.main-menu .mainmenu-top .sosmed{
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.3em;
    letter-spacing: -.0.2em;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
}
.main-menu .mainmenu-top .sosmed span{
    opacity: .3;
}
.main-menu .mainmenu-top .sosmed a{
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.main-menu .mainmenu-top .sosmed a:hover{
    color: #e64351;
}

.header.fixed.show .nav-main a.active{
    border-bottom: 1px solid #e64351;
}

.main-menu .nav-main a{
    padding: 16px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transition-delay: 0;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}
.main-menu .nav-main a.active, .main-menu .nav-main a:hover{
    border-bottom: 1px solid #FFF;
}

.main-menu .nav-main .btn-primary{
    display: none;
}
.main-menu .btn-primary{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    color: #e64351;
    padding: 16px 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.main-menu .btn-primary:hover{
    transform: scale(1);
    background-color: #e64351;
    color: #FFF;
}
.header .container-fluid{    
    transform: all .3s ease-in-out;
}

@keyframes slideUp {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-265px);
    }
}
@keyframes animateUp {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50%{
        transform: translateY(-100px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-128px);
    }
}
@keyframes menuDown {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes menuDown2 {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* section[class*="-masthead"]:not(.equipment){
    padding-top: 0 !important;
    padding-bottom: 0 !important;
} */



.btn-primary span::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    margin-right: 12px;
    background-color: #FFF;
}
.btn-secondary span::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    margin-right: 12px;
    background-color: #FF7324;
}

.home-location::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .1;
    z-index: 2;
}

.home-location .pointing{
    padding: 4px;
    padding-left: 36px;
    padding-right: 8px;
    font-weight: 600;
    background: #FFF;
    text-transform: uppercase;
    color: #111111;
    transition: all .3s ease-in-out;
}
.home-location .pointing:hover{
    opacity: .8;
}
.home-location .pointing::before{
    content: "+";
    width: 24px;
    padding: 4px;
    border: 1px solid #111;
    text-align: center;
    position: absolute;
    line-height: 14px;
    top: 4px;
    left: 4px;
}
.location-detail{
    transition: all .3s esae-in-out;
}

.title-waksen{
    position: relative;
    display: inline-flex;
}
.title-waksen span{
    padding: 8px;
}
.title-waksen u{
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #FFF;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.title-waksen u:nth-child(1){
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}
.title-waksen u:nth-child(2){
    top: 0;
    right: 0;
    border-left: 0;
    border-bottom: 0;
}
.title-waksen u:nth-child(3){
    bottom: 0;
    left: 0;
    border-top: 0;
    border-right: 0;
}
.title-waksen u:nth-child(4){
    bottom: 0;
    right: 0;
    border-left: 0;
    border-top: 0;
}


@media screen and (min-width: 1100px) {
    .homepage-location .location-item:nth-child(2){
        margin-top: -270px;
    }
}
.pagination-thumb{
    top: calc(100vh - 270px);
    left: calc(100% - 90px);
    transform: translateY(-24px);
}


.locationSwiper .swiper-slide::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 76.12%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 3;
    opacity: .2;
}

.locationSwiper .swiper-slide{
    width: 100vw;
    height: 100vh;
    /* transition: transform .5s ease-in-out; */
}

.locationSwiper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.thumbloct1,
.thumbloct2,
.thumbloct3{
    z-index: 5;
}
.thumbloct1 img,
.thumbloct2 img,
.thumbloct3 img{
    width: 100%;
    height: 48px;
    object-fit: cover;
}

.thumbloct1 .swiper-slide-thumb-active,
.pagination-thumb .thumbloct-item.active,
.thumbloct2 .swiper-slide-thumb-active,
.thumbloct3 .swiper-slide-thumb-active{
    border: 4px solid #FF7324;
}

.projectSwiper {
    width: 100%;
    align-items: center;
}
.projectSwiper .swiper-wrapper{
    align-items: center;
    overflow: visible;
    padding-top: 24px;
    padding-bottom: 24px;
}

.projectSwiper .swiper-slide {
    width: 22.223vw;
    padding-top: 27.639%;
    position: relative;
    transition: width .3s ease-in-out, heigth .3s ease-in-out;
}
.projectSwiper .swiper-slide span{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.projectSwiper .swiper-slide span:nth-child(1){
    top: -24px;
    left: -24px;
    border-right: 0;
    border-bottom: 0;
}
.projectSwiper .swiper-slide span:nth-child(2){
    top: -24px;
    right: -24px;
    border-left: 0;
    border-bottom: 0;
}
.projectSwiper .swiper-slide span:nth-child(3){
    bottom: -24px;
    left: -24px;
    border-top: 0;
    border-right: 0;
}
.projectSwiper .swiper-slide span:nth-child(4){
    bottom: -24px;
    right: -24px;
    border-top: 0;
    border-left: 0;
}

.projectSwiper .swiper-slide-active{
    width: 25vw;
    padding-top: 33.2%;
}
.projectSwiper .swiper-slide-active span{
    opacity: 1;
}
.projectSwiper .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: 33.333vw; */
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.projectSwiper .swiper-button-next,
.projectSwiper .swiper-button-prev{
    width: 56px;
    height: 40px;
    background-color: #F9F9F9;
    background-image: url(../images/ic-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #11111140;
    transition: all .3s ease-in-out;
}
.projectSwiper .swiper-button-next:hover{
    transform: scaleX(-1) translateX(4px);
}
.projectSwiper .swiper-button-next{
    transform: scaleX(-1);
}
.projectSwiper .swiper-button-prev:hover{
    transform: translateX(-4px);
}
.projectSwiper .swiper-button-next::after,
.projectSwiper .swiper-button-prev::after{
    display: none;
}

.footer-locations .foot-loct{
   align-items: center;
   border-bottom: 1px solid rgba(33, 28, 28, 0.25);
   padding: 40px 0;
   transition: all .3s ease-in-out;
}
.footer-locations .foot-loct .right{
    position: relative;
    /* margin-right: 5.555vw; */
    width: 22.22vw;
    max-width: 320px;
    height: 13.888vw;
    max-height: 200px;
}
.footer-locations .foot-loct .right img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-locations .foot-loct:hover{
    border-bottom: 1px solid #E64351;
    opacity: 1;
}
.footer-locations .foot-loct:hover .right img{
    opacity: 1;
    visibility: visible;    
}
.footer-bottom .socmed li:not(:last-child){
    margin-bottom: 8px;
}

.animate-text h2 .char{
    opacity: .2;
}

.mileston-stage ul{
    list-style: none;
    position: relative;
}
.buttons{
    overflow: hidden;
    flex-wrap: nowrap;
    transition: all 3s ease-in-out;
    border-radius: 50px;
}
.buttons img, .buttons a{    
    transition: all .3s ease-in-out;
}
.buttons img:last-child{
    transform: rotate(45deg);
}

.buttons:hover img:first-child, .buttons:hover a,.buttons:hover img:last-child{
    transform: translateX(-40px);
}
.buttons:hover img:first-child{
    transform: translateX(-40px) rotate(-45deg);
}
.buttons:hover img:last-child{
    transform: translateX(-40px) rotate(0);
}
.buttons a{
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
}
@keyframes txtalma {
    0% {
        stroke-dasharray: 500;
        stroke-dashoffset: 50;
    }
    50% {        
        fill: transparent;
    }
    100% {
        fill: #469EE0;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;  
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.big-text .text-almacita path{
    fill: transparent;
    stroke: #469EE0;
    stroke-width: 0.2;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transform-origin: center center;
    animation: txtalma 4s ease-in-out 1 forwards;
}
.big-text .text-almacita path:nth-child(1){animation-delay: 0;}
.big-text .text-almacita path:nth-child(2){animation-delay: 0.1s;}
.big-text .text-almacita path:nth-child(3){animation-delay: 0.2s;}
.big-text .text-almacita path:nth-child(4){animation-delay: 0.3s;}
.big-text .text-almacita path:nth-child(5){animation-delay: 0.4s;}
.big-text .text-almacita path:nth-child(6){animation-delay: 0.5s;}
.big-text .text-almacita path:nth-child(7){animation-delay: 0.6s;}
.big-text .text-almacita path:nth-child(8){animation-delay: 0.7s;}

.big-text .aksen-text-alma-1{
    opacity: 0;
    visibility: hidden;    
    animation: fadeIn .5s ease-in-out 1 forwards;
    animation-delay: 1.5s;
}
.big-text .aksen-text-alma-2 {
    opacity: 0;
    visibility: hidden;    
    animation: fadeIn .5s ease-in-out 1 forwards;
    animation-delay: 2.5s;
}

.section-two .bg{
    transform: scale(1.1);
}
/* .paralax .bg{
    transition: all .3s linear;
} */

@keyframes wwpath1 {
    0% {
        stroke-dashoffset: 50;
    }
    50% {        
        fill: transparent;
    }
    100% {
        fill: white;
        stroke-dashoffset: 0;
    }
}

@keyframes floating {
    0% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
    25% {
      transform: translate3d(13px, 12px, 12px) rotate3d(1, 1, 1, 7.5deg);
    }
    50% {
      transform: translate3d(-8px, 14px, 14px) rotate3d(1, 1, 1, 7.5deg);
    }
    75% {
      transform: translate3d(10px, 16px, 16px) rotate3d(1, 1, 1, 7.5deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
}
@keyframes floating2 {
    0% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
    25% {
      transform: translate3d(-10px, -12px, -12px) rotate3d(1, 1, 1, 7.5deg);
    }
    50% {
      transform: translate3d(-12px, -14px, -14px) rotate3d(1, 1, 1, 12.5deg);
    }
    75% {
      /* transform: translate3d(-16px, -16px, -16px) rotate3d(1, 1, 1, -7.5deg); */
    }
    100% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
}
@keyframes floating3 {
    0% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
    25% {
      transform: translate3d(0px, 0px, 0px) rotate3D(0, 0, 1, 8deg);
    }
    50% {
      transform: translate3d(0, -12px, 0) rotate3d(1, 1, 1, -16deg);
    }
    75% {
      transform: translate3d(4px, 3px, 4px) rotate3d(1, 1, 1, 0deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
}
.weare-svg .weare-p1, .weare-svg .weare-t1{
    animation: floating 15s ease-in-out 0.4s infinite;
    will-change: transform;
    transform-style: preserve-3d;
    animation-delay: 2.1s;
    transform-origin: center;
}
/* .weare-svg .weare-t1 {
    fill: transparent;
    stroke: white;
    stroke-width: 0.2;
    stroke-dasharray: 20;
    stroke-dashoffset: 50;
    
    animation: wwpath1 2s ease-in-out forwards, 
               floating 15s ease-in-out infinite;
    animation-delay: 0s, 2.1s; 
} */
.weare-svg .weare-p2, .weare-svg .weare-t2{
    animation: floating2 15s ease-in-out 0.4s infinite;
    will-change: transform;
    transform-style: preserve-3d;
    transform-origin: center;
}
.weare-svg .weare-p3, .weare-svg .weare-t3{
    animation: floating3 10s ease-in-out 1s infinite;
    will-change: transform;
    transform-style: preserve-3d;
    transform-origin: center center;
}

.mileston-stage ul::before{
    content: "";
    width: 1px;
    height: 100vh;
    position: absolute;
    background-color: #A5CC1F;
    top: 12px;
    left: 73px;
}
.mileston-stage-white ul::before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #FFF;
    top: 12px;
    left: 73px;
    display: none;
}
.mileston-stage ul li{
    position: relative;
    padding-left: 120px;
}
.mileston-stage-white ul li{
    position: relative;
    padding-left: 64px;
}
.mileston-stage ul li:not(:last-child){
    margin-bottom: 48px;
}
.mileston-stage-white ul li:not(:last-child){
    margin-bottom: 40px;
}
.mileston-stage ul li::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/list-shape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 64px;
    
}
.mileston-stage-white ul li::before,
.milestone-secondary ul li::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/list-shape-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    /* left: 64px; */
    left: -8px;
}
.mileston-stage-white ul li::after{
    content: "";
    width: 1px;
    height: calc(100% + 40px);
    background: #FFF;
    position: absolute;
    left: 1px;
    top: 5px;
}
.milestone-secondary ul li::after{
    content: "";
    width: 1px;
    height: calc(100% + 40px);
    background: #3A6B0C;
    position: absolute;
    left: 1px;
    top: 5px;
}
.milestone-secondary ul li::before{
    background-image: url(../images/list-shape.svg);
}
.mileston-stage-white ul li:last-child::after,
.mileston-stage-secondary ul li:last-child::after,
.milestone-secondary ul li:last-child::after{
    display: none;
}
.mileston-stage-white ul li b{
    font-weight: 500;
}

.mileston-stage .mileston-title{
    font-size: 24px;
    line-height: 1.1em;
    margin-bottom: 8px;
    letter-spacing: -0.05em;
}

.activity-wrapp + .activity-wrapp{
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid rgba(255,255,255, 0.15);
}

.curi-list{
    font-size: 24px;
    letter-spacing: -0.05em;
}
.curi-list li:not(:last-child){
    margin-bottom: 24px;
}
/* .curi-list li:before{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
    margin-right: 8px;
} */
.curi-list li:nth-child(1)::before{
    background-image: url(../images/curi-icon-1.svg);
}
.curi-list li:nth-child(2)::before{
    background-image: url(../images/curi-icon-2.svg);
}
.curi-list li:nth-child(3)::before{
    background-image: url(../images/curi-icon-3.svg);
}
.curi-list li:nth-child(4)::before{
    background-image: url(../images/curi-icon-4.svg);
}
.cus-list li:not(:last-child){
    margin-bottom: 24px;
}
.cus-list b{
    display: block;
    font-size: 24px;
    color: #006391;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.05em;
    margin-bottom: 8px;
}
.cus-list address, .cus-list a{
    text-decoration: none;
    font-style: normal;
    color: #006391;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}
.section-eight.sticky{
    position: sticky;
    top: 0;
}
.section-eight-content{
    position: sticky;
    top: 0;
}
.photo-list{
    grid-row-gap: 26vw;
    flex-direction: column;
    display: flex;
    gap: 0;
    transition: transform 0.1s ease;
    will-change: transform;
    margin-top: 30vh;
}
.photo-list:last-child{
    justify-content: flex-end;
    margin-top: 60vh;
}
.photo-list img{
    width: auto;
    transform: translateY(var(--scroll));
    object-fit: cover;
    border: 0.5em solid #FFFFFF; /* Changed 8px to em */
    box-shadow: 0px 1px 4px 0px #00000029;
}
.photo-list img.lg{
    /* width: 26rem;
    height: 22.5rem; */
    width: 26.5rem; /*416px;*/
    height: 20.5rem; /*320px;*/
}
.photo-list img.md{
    /* width: 18.875rem;
    height: 20rem; */
    width: 20.5rem; /*320px;*/
    height: 23.5rem; /*360px;*/
}
.photo-list img.sm{
    /* width: 18.875rem;
    height: 15rem; */
    width: calc(18.875rem + .5rem); /*302px;*/
    height: 15.5rem; /*240px;*/
}
.photo-list:first-child img:nth-child(odd){
    margin-left: 2vw;
}
.photo-list:first-child img:nth-child(even){
    margin-left: 15vw;
}
.photo-list img:nth-child(even){
    margin-left: 5vw;
}

.photo-list:last-child img:nth-child(odd){
    margin-left: -10vw;
}
.photo-list:last-child img:nth-child(even){
    margin-left: -2vw;
}
.box-form{
    position: relative;
    /* min-height: 560px; min-height: 640px;*/
    min-height: 790px;
}
.box-form .step{
    padding: 40px;
    background: #FFF;
    border: 1px solid #006391;
    border-radius: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    min-height: 795px;
}

.box-form .step.step-one{
    transform: rotate(-1deg);
    z-index: 20;
}
.box-form .step.step-two{
    transform: rotate(2deg) translateX(25px) translateY(15px) scale(.98);
    z-index: 10;
    margin-top: auto;
    top: -11px;
}

@keyframes flipoout {
    0% {
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
    }
    80%{        
        transform: translate3d(0, -10px, 0) rotate3d(1, 1, 1, -40deg);
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}
@keyframes flipin {
    0% {        
        opacity: 0;
        z-index: 0;
    }
    80%{        
        transform: translate3d(0, -10px, 0) rotate3d(1, 1, 1, 0deg);
    }
    100% {
        opacity: 1;
        z-index: 20;
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg);
        
    }
}
.box-form .step.flipout{
    animation: flipoout .5s ease-in-out 1 forwards;
    will-change: transform;
    transform-style: preserve-3d;
    transform-origin: top left;
}
.box-form .step.flipin{
    opacity: 0;
    transform: rotate(-40deg);
    animation: flipin .5s ease-in-out 1 forwards;
    animation-delay: .5s;
    will-change: transform;
    transform-style: preserve-3d;
    transform-origin: top left;
}
.box-form .step.show{
    transform: rotate(0);
    transition-delay: .5s;
    z-index: 20;
}

.focuses-wrapp .grid{
    border-top: 1px solid rgba(58, 107, 12, 15%);
    border-bottom: 1px solid rgba(58, 107, 12, 15%);
}
.focuses-wrapp .grid + .grid{
    border-top: 0;
}
.focuses-card{
    border-right: 1px solid rgba(58, 107, 12, 15%);
    padding: 24px;
    color: #3A6B0C;
}
.focuses-wrapp .grid + .grid{
    border-top: 0;
}
.focuses-wrapp.primary-light .grid{
    border-top: 1px solid rgba(0, 99, 145, 0.15);
    border-bottom: 1px solid rgba(0, 99, 145, 0.15);
}
.focuses-wrapp.primary-light .focuses-card{
    border-right: 1px solid rgba(0, 99, 145, 0.15);
    padding: 24px;
    color: #006391;
}
.focuses-card:first-child{
    padding-left: 0;
}
.focuses-card:nth-child(3n),
.focuses-wrapp.primary-light .focuses-card:nth-child(3n){
    border-right: 0;
}
.montesorri-wrapp{
    align-items: center;
}
.montesorri-item{
    position: relative;
    flex: 0 0 calc(100% / 5);
    max-width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.montesorri-item .text{
    padding: 16px;
    margin: 0 auto;
    max-width: 85%;
}
.montesorri-item h3,
.montesorri-item p{
    position: relative;
    z-index: 3;
}
.montesorri-item .svg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 120%;
    height: 120%;
    max-height: 280px;
    object-fit: cover;
    transform: translateX(-8%);
}

.section-seven .bg{
    /* background-image: url(../images/bg-paralax-2.jpg); */
    /* background-size: cover;
    background-attachment: scroll; */
}
/* .rellax .bg{
    transition: all .3s linear;
} */


.form-control{
    background: #FFF;
    padding: 8px 16px;
    border: 1px solid #00639126;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 100%;    
    font-family: Mona Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #006391;
}
.box-form label{
    font-family: Mona Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #006391;

}
.form-control:foucs{
    outline: none;
    offset: none;
}
.form-control::placeholder{
    font-family: Mona Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #006391;
    opacity: .3;
}
body.enroll-show{
    height: 100vh;
    overflow: hidden;
}
.enrollment-section{
    transition: all .3s ease-in-out;
}

.enrollment-section.poped{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* min-height: 100vh; */
    height: 100vh;
    /* overflow-x: hidden; */
    overflow: scroll;
    z-index: 99999;
}

/* Modal */
.modal-notif{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.modal-notif.show{
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
#footerCanvas{
    max-width: 100%;
    overflow: hidden;
    cursor: grab;
}
canvas{
    border: 0;
    outline: 0;
}

.bigtext-marquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /* margin-top: 64px; */
  }
  
  .marquee-wrapper {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 60s linear infinite;
  }
  
  .bigtext-marquee span {
    font-size: 120px;
    font-weight: 600;
    padding-right: 16px;
    color: #FFF;
  }
  .bigtext-marquee span:nth-child(odd){
    /* opacity: 30%; */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

article p{
    font-size: 20px;
    letter-spacing: -0.02em;
}
article p:not(:last-child){
    margin-bottom: 42px;
}

.about-counter .number{
    transition: all .3s ease-in-out;
}

.count-round{
    width: 360px;
    height: 360px;
    border: 1px dashed #FFF;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.count-round .number{
    font-size: 120px;
    line-height: 1em;
    letter-spacing: -0.04em;
    font-family: "Instrument Sans Condensed";
    font-weight: 600;
    margin-bottom: 8px;
}
.count-round span{
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
}
.ttb-bg{
    overflow: hidden;
}
.ttb-bg .img{
    transition: transform .3s ease-out;
    transform: scale(1.2, 1.2);
}
.location-item .text-top{    
    transition: transform .3s ease-out;
}
.location-item .text-top.animateUp{
    position: sticky;
    top: 128px;
    animation: animateUp 0.3s ease-in-out forwards;
}
.ttb-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(34.77% 34.77% at 50% 48.59%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.ttb .text-bottom{
    letter-spacing: -0.02em;
}

.creative-force ul li:not(:last-child){
    margin-bottom: 8px;
}
.creative-force ul li h3{
    margin-bottom: 0;
}

.btn-play {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.btn-play .ic{
    content: "";
    width: 64px;
    height: 64px;
    background-image: url(../images/ic-play.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 3;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
}

.lity-youtube .lity-container{
    max-width: 85vw;
}

.fd-wrap .fd-item .container{
    border-top: 1px solid #FF7324;
}
.fd-wrap .fd-item:last-child{
    border-bottom: 1px solid #FF7324;
}



.evpoSwiper{
    padding: 24px 0;
}
.evpoSwiper .box-yt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.evpoSwiper .box-yt iframe{
    width: 100%;
    min-height: 354px;
}

.evpoSwiper .swiper-slide .box-yt span{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.evpoSwiper .swiper-slide .box-yt {
    position: relative;
    padding: 24px;
}
.evpoSwiper .swiper-slide .box-yt:not(.nobutton)::after{
    content: "";
    width: 68px;
    height: 48px;
    background: url(../images/ic-play-yt.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.evpoSwiper .swiper-slide .box-yt span:nth-child(1){
    top: -24px;
    left: -24px;
    border-right: 0;
    border-bottom: 0;
}
.evpoSwiper .swiper-slide .box-yt span:nth-child(2){
    top: -24px;
    right: -24px;
    border-left: 0;
    border-bottom: 0;
}
.evpoSwiper .swiper-slide .box-yt span:nth-child(3){
    bottom: -24px;
    left: -24px;
    border-top: 0;
    border-right: 0;
}
.evpoSwiper .swiper-slide .box-yt span:nth-child(4){
    bottom: -24px;
    right: -24px;
    border-top: 0;
    border-left: 0;
}
.evpoSwiper .swiper-slide.swiper-slide-active span{
    opacity: 1;
    visibility: visible;
}

.services-list .fd-item:first-child{
    padding-top: 0;
}
.services-list .fd-item:last-child{
    border-bottom: 1px solid #FFFFFF26;
}


.accordion-item.active{
    border-color: #FF7324;
}
.accordion-item .accordion-toggle h3 img{
    width: 0;
    height: 0;
    transition: all .3s ease-in-out;
}
.accordion-item.active .accordion-toggle h3 img{
    width: 5rem;
    height: 4rem;
}
.pp-item .photo {
    padding: 24px;
    position: relative;
}
.pp-item .photo::before {
    content: "";
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #000;
    opacity: .3;
    transition: all .3s ease-in-out;
}
.pp-item.active .photo::before{
    opacity: 0;
    visibility: hidden;
}
.pp-item.active .photo u{
    opacity: 1;
}
.pp-item.active .namepos{
    opacity: 1;
}
.pp-item .photo u{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 4px solid #FFF;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.pp-item .photo u:nth-child(1){
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}
.pp-item .photo u:nth-child(2){
    top: 0;
    right: 0;
    border-left: 0;
    border-bottom: 0;
}
.pp-item .photo u:nth-child(3){
    bottom: 0;
    left: 0;
    border-top: 0;
    border-right: 0;
}
.pp-item .photo u:nth-child(4){
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
}

.pp-item .namepos {
    width: max-content;
    text-align: center;
    bottom: -48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateX(-5%);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.filmfund-content article p{
    font-size: 16px;
    line-height: 1.5em;
    opacity: .75;
}

.blog-item .box-img img{    
    transition: all .3s ease-in-out;
}
.blog-item:hover .box-img img{
    /* padding: 24px; */
    transform: scale(.85);
}
.blog-item:hover .box-img u{
    opacity: 1;
}

.blog-item .box-img u{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    z-index: 2;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.blog-item .box-img{
    transition: all .3s ease-in-out;
}
.blog-item .box-img u:nth-child(1){
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}
.blog-item .box-img u:nth-child(2){
    top: 0;
    right: 0;
    border-left: 0;
    border-bottom: 0;
}
.blog-item .box-img u:nth-child(3){
    bottom: 0;
    left: 0;
    border-top: 0;
    border-right: 0;
}
.blog-item .box-img u:nth-child(4){
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
}

.single-blog-content article h3{
    font-size: 22px;
    line-height: 1.2em;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
    font-weight: 600;
    font-family: 'Instrument Sans Condensed';
}
.single-blog-content article p + h3{
    margin-top: 64px;
}

.ldSwiper img{
    width: 100%;
    /* max-height: 626px; */
    height: 480px;
    object-fit: cover;
}



@media (width: 1024px) {
    .lg\:text-7xl {
        font-size: 3.5rem;
        line-height: 1;
    }
    .lg\:px-0 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 1023px) {
    .lg\:text-\[50px\] {
        font-size: 42px;
    }
}
@media (max-width: 765px) {
    .lg\:text-\[50px\] {
        font-size: 28px;
    }
}


/* Responsive Macbook */
@media only screen and (max-width: 1500px){
    .about-masthead .content > div{
        margin-top: 72px;
    }
}

@media only screen and (max-width: 1100px){
    .filmfund-content .content-wrap{
        flex-direction: column;
    }
    .filmfund-content .content-wrap .col{
        flex: 0 0 100%;
        width: 100%;
    }
    .filmfund-content .content-wrap .col:first-child{
        margin-bottom: 24px;
    }
    .filmfund-content .content-wrap .col:first-child img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

/* Responsive Tablet*/
@media only screen and (max-width: 1024px) {
    .text-80{
        font-size: 64px;
    }
    .header-logo{
        width: calc(4/12 * 100%);
    }
    .header-logo img{
        max-height: 40px;
    }
    .header-logo img{
        max-height: 40px;
    }
    .burgermenu{
        width: 48px;
        height: 24px;
        position: absolute;
        top: 50px;
        right: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }
    .burgermenu span{
        width: 28px;
        height: 2px;
        background: #FFF;
        transition: all .3s ease-in-out;
    }
    .web-logo{
        padding: 16px;
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .web-logo img{
        max-width: 250px;
        margin: 0 atuo;
        display: inline-block;
    }
    .main-menu{
        max-width: 100%;
        flex: 100%;
        order: 1;
    }
    .nav-main{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background: #211c1c;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        padding: 24px 0;
    }
    .nav-main a:not(.btn-primary){
        max-width: max-content;
    }
    .nav-main + .btn-primary{
        display: none;
    }
    .main-menu .btn-primary{
        position: relative;
    }
    

    body.menu-show .header{
        background-color: #211c1c;
    }
    body.menu-show .header .nav-main .btn-primary{
        display: inline-block;
        max-width: max-content;
        position: relative;
        margin-left: 16px;
    }
    body.menu-show .header .main-menu .nav-main{
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);
    }
    body.menu-show .burgermenu span{
        background-color: #E64351;
    }
    body.menu-show .burgermenu span:nth-child(1){
        transform: rotate(45deg) translate(4px, 8px);
    }
    body.menu-show .burgermenu span:nth-child(2){
        transform: rotate(-45deg) translate(0px, -4px);
    }
    body.menu-show .burgermenu span:nth-child(3){
        opacity: 0;
    }

    .btn-play .ic{
        width: 40px;
        height: 40px;
    }

    .projectSwiper .swiper-slide{
        padding-top: 70%;
    }
    .projectSwiper .swiper-slide-active{
        padding-top: 80%;
    }

    .section-three .cloud-aksen:nth-child(1){
        width: 80px;
        height: 80px;
        right: 40px;
        top: -40px;
    }
    .section-three .cloud-aksen.-bottom-20{
        left: 20px;
        bottom: -60px;
    }

    .section-four .smalltitle.text-secondary{
        font-size: 20px;
    }
    .section-four .misc{
        font-size: 16px;
    }

    .photo-list{
        margin-top: 0;
    }
    .photo-list:last-child{
        margin-top: 20vh;
    }
    .photo-list:first-child img:nth-child(even){
        margin-left: 8vw;
    }
    @supports (-webkit-touch-callout: none) {
        .rellax .bg {
            background-attachment: fixed;
        }
    }
    .rellax{
        height: 80vh;
    }
    .rellax .bg{
        height: 80vh;
        background-attachment: unset;
        /* background-size: auto; */
    }

    .location-detail.popup h2{
        font-size: 32px;
    }


    .people-wrap .col.voidcard{
        display: none;
    }

    .services-list .fd-item{
        display: block;
    }
    .services-list .fd-item .left,
    .services-list .fd-item .right{
        width: 100%;
    }
    .services-list .fd-item .left{
        margin-bottom: 24px;
    }
    .services-list .fd-item .left .content{
        display: block;
    }
    .services-list .fd-item .left .content .text{
        width: 100% !important;
    }
    .services-list .fd-item .left .content .number{
        margin-bottom: 16px;
    }
    .services-list .fd-item .left .content ul li span{
        font-size: 18px;
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
    .services-list .fd-item .right img{
        height: 40vh;
    }
    
    

    .ourwork-documentary .fd-wrap .fd-item .text{
        flex: 0 0 calc(100% - 222px);
    }

    .ourwork-documentary .fd-item ul li span{
        font-size: 18px;
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    
    
}
/* Responsive Mobile*/
@media only screen and (max-width: 500px) {
    section:not([class*="pt-"]):not(.p-5):not(.homepage-masthead):not([class*="-masthead"]):not(.about-ttb){
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h2.text-2xl{
        font-size: 28px;
    }
    .header-logo img{
        max-height: 40px;
    }
    .header .nav-link:not(.enrollclick){
        display: none;
    }

    .homepage-masthead .content{
        padding-top: 124px;
        padding-left: 0;
        padding-right: 0;
    }
    .section-two .container{
        height: 100vh;
    }

    .home-location{
        /* padding-top: 85vh; */
    }
    .home-location .pointing{
        font-size: 0;
        line-height: 0;
        width: 32px;
        height: 32px;
        padding-left: 0;
        overflow: hidden;
    }
    .home-location .pointing::before{
        font-size: 18px;
    }

    .section-three h2,
    .section-four h2,
    .section-six h2{
        font-size: 28px;
        margin-bottom: 24px;
    }
    .section-four .smalltitle,
    .section-six .smalltitle{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .section-four .misc{
        font-size: 16px;
        line-height: 1.5em;
    }
    .section-three .cloud-aksen:nth-child(1){
        width: 60px;
        height: 60px;
        right: 30px;
        top: -30px;
    }
    .section-three .cloud-aksen.-bottom-20{
        width: 120px;
        height: 120px;
        left: 0px;
        bottom: -60px;
    }
    .mileston-stage ul::before{
        left: 23px;
    }
    .mileston-stage ul li::before{
        left: 14px;
    }
    .mileston-stage ul li{
        padding-left: 60px;
    }
    .mileston-stage .mileston-title{
        font-size: 20px;
    }
    .curi-list{
        font-size: 20px;
    }
    .box-form .step{
        padding: 20px;
    }
    .section-eight{
        height: 120vh;
    }
    .photo-list{
        height: 90vh;
    }
    .photo-list img{
        width: 90%;
    }
    .enrollment-section:not(.poped){
        overflow: hidden;
    }
    .box-form{
        min-height: 800px;
    }
    .cus-list b{
        font-size: 18px;
    }
    .box-form .step h2{
        font-size: 20px;
    }
    .enrollment-section .cloud-aksen{
        width: 150px;
        height: 150px;
        left: -90px;
        top: -100px;
    }
    .enrollment-section.poped .close{
        top: 20px;
        right: 20px;
    }
    .ht-ctc .ctc-analytics.ht_ctc_padding{
        padding: 10px;
    }
    .ht-ctc .ctc-analytics.ht_ctc_padding svg{
        width: 35px;
        height: 35px;
    }
    .enrollment-section.poped{
        padding-bottom: 90px;
    }
    html.popup-show .location-detail.popup.active{
        transform: translateX(-66.6vw);
        width: 99vw;
    }
    .homepage-letstalk {
        padding: 8px;
    }
    .homepage-letstalk .container{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .about-masthead .masthead-img{
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .about-masthead .content p{
        font-size: 20px;
    }
    .about-masthead .content > div{
        margin-top: 80px;
    }

    .bigtext-marquee span{
        font-size: 80px;
    }

    .about-pioneeer{
        padding: 0 20px;
    }
    
    .people-wrap{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .people-wrap .col.voidcard{
        display: none;
    }
    .people-wrap .col:not(:last-child){
        margin-bottom: 24px;
    }
    .people-wrap .content{
        padding-left: 0;
        padding-right: 0;
        margin-top: 16px;
    }
    .people-wrap .creative-force h2{
        margin-bottom: 24px;
    }
    .people-wrap .creative-force ul{
        text-align: left;
    }
    


    .ourwork-documentary .fd-wrap .fd-item .text{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .ourwork-documentary .fd-wrap .fd-item .thumbnail{
        width: 50%;
    }


    .services-list .accordion-item .accordion-toggle{
        flex-wrap: wrap;
    }
    .services-list .accordion-item .accordion-toggle h3{
        flex-wrap: wrap;
    }
    .services-list .accordion-item .accordion-toggle .number{
        order: 1;
    }
    .services-list .accordion-item .accordion-toggle .btn-expnd{
        order: 2;
    }
    .services-list .accordion-item .accordion-toggle h3{
        order: 3;
    }
    .services-list .accordion-item .content {
        flex-wrap: wrap;
    }
    .services-list .accordion-item .content .col{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pp-wrap .pp-item .photo{
        padding: 20px;
    }
    .pp-wrap .pp-item .photo img{
        width: 32px;
        height: 32px;
    }

    .more-blog-wrap .grid{
        gap: 0;
    }
    .more-blog-wrap .blog-item:not(:last-child){
        margin-bottom: 24px;
    }


    footer .container{
        padding-left: 0;
        padding-right: 0;
    }
    .footer-locations a:first-child{
        padding-top: 0;
    }
    .footer-locations h3{
        font-size: 28px;
        margin-bottom: 8px;
    }
    .footer-locations h3 + strong{
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 8px;
    }
    .footer-locations > .foot-loct{
        display: block;
    }
    .footer-locations > .foot-loct .left,
    .footer-locations > .foot-loct .right{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .footer-locations .left{
        margin-bottom: 8px;
    }
    .footer-locations .foot-loct .right{
        height: 240px;
    }
    .footer-bottom .left h3{
        font-size: 18px;
        margin-bottom: 40px;
    }
}

#cursor-text {
    position: absolute;
    pointer-events: none;
    padding: 8px 16px;
    background: #F9F9F9;
    color: #111111;
    font-size: 16px;
    border: 1px solid #11111140;
    display: none;
    z-index: 9999;
    text-transform: uppercase;
  }

.projectSwiper .swiper-wrapper{
    cursor: grabb;
}

.work-thumbnail .box-youtube{
    width: 100%;
    padding-top: 50%;
    position: relative;
}
.work-thumbnail .box-youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.people-item img{
    width: 100%;
    height: 47.5vh;
    object-fit: cover;
}