---
layout: base.njk
title: Tentang Kami
activePage: about
headerType: alt
---

<section id="section1" class="about-masthead relative w-full min-h-[100vh] overflow-hidden bg-[#E64351]">
    <img class="masthead-img absolute top-0 left-0 right-0 bottom-0 w-full max-w-[920px] h-full max-h-[480px] m-auto object-cover" src="../assets/images/about-masthead-img.jpg" alt="img-masthead">
    <div class="container-fluid w-full h-[85vh] relative z-3 py-6 flex flex-col flex-wrap justify-center items-center">
        <div class="content text-white px-5 w-full max-w-[960px] h-full max-h-[480px] m-auto">
            <div class="max-w-[440px] lg:ml-[-120px] lg:mt-[45px] text-[24px]">
                <p>We're more than a traditional film fund. Through our unique partnership with Viking Sunset Studios, we offer filmmakers comprehensive support from script to screen.</p>
            </div>            
        </div>        
        
    </div>
    <div class="bigtext-marquee">
        <h1 class="marquee-wrapper font-intrumentsans">        
        <span>Where World-Class Production Meets Paradise</span>
        <span>Where World-Class Production Meets Paradise</span>
        <span>Where World-Class Production Meets Paradise</span>
        <span>Where World-Class Production Meets Paradise</span>
        <span>Where World-Class Production Meets Paradise</span>
        </h1>
    </div>
</section>
<section class="about-pioneeer lg:py-[160px] bg-[#211C1C] text-white">
    <div class="container mx-auto lg:mb-[120px]">
        <div class="md:max-w-[47.2222dvw] mx-auto py-6">
            <h2 class="text-center md:text-[3.47vw] lg:text-[80px] text-2xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.04em] mb-[80px] text-white">Pioneering the Future of Indonesian Cinema
            </h2>
        </div>
        <div class="grid grid-cols-1 place-items-center md:grid-cols-2 gap-[60px]">
            <div class="col left">
                <div class="box-img">
                    <img src="../assets/images/about-sect2-img.png" alt="img">
                </div>
            </div>
            <div class="col right lg:max-w-[560px]">
                <article class="tracking-[-0.02em] leading-[1.5]">
                    <p>Viking Film Fund stands as Indonesia's pioneering initiative bridging visionary filmmaking with professional execution. Established in 2022 as part of the Viking Sunset Group, we've committed ourselves to one clear mission: empowering Indonesian storytellers to create world-class cinema.</p>
                    <p>Our journey began with a simple observation – exceptional stories often remain untold due to resource constraints. Today, we're changing that narrative by providing not just funding, but complete access to professional production facilities, technical expertise, and industry networks.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="container lg:max-w-[1160px] mx-auto about-counter">
        <div class="grid grid-cols-1 place-items-center md:grid-cols-3 gap-[40px] counter">
            <div class="col">
                <div class="count-round">
                    <div class="number" min="0" max="15">0+</div>
                    <span>Films Funded</span>
                </div>
            </div>
            <div class="col">
                <div class="count-round">
                    <div class="number" min="0" max="100">0+</div>
                    <span>Hours Studio Time</span>
                </div>
            </div>
            <div class="col">
                <div class="count-round">
                    <div class="number" min="0" max="25">0+</div>
                    <span>Industry Partners</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-ttb h-[100vh] relative">
    <div class="ttb-bg absolute top-0 left-0 right-0 bottom-0 w-full h-full m-auto object-cover">
        <img class="img w-full h-full object-cover" src="../assets/images/about-ttb-bg-1.jpg" alt="img-masthead">   
    </div>
    <div class="content lg:max-w-[920px] h-full mx-auto flex flex-col justify-between items-center text-white py-16 relative z-10">
        <div class="text-top">
            <h2 class="text-center md:text-[3.47vw] lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[80px] text-white">At Viking Sunset Studios, our mission is clear: to create visual content that captivates audiences, regardless of genre, scale, or platform.</h2>
        </div>
        <div class="text-bottom">
            <div class="text-center">
                <p>we believe great stories know no boundaries. Our commitment goes beyond traditional filmmaking – we embrace the entire spectrum of visual storytelling. From feature films to digital series, from intimate documentaries to grand productions, we support creators who dare to push creative boundaries.</p>
            </div>
        </div>
    </div>
</section>
<section class="about-people bg-[#211C1C] lg:py-[160px] py-20">
    <div class="container mx-auto">
        <h2 class="md:text-[3.47vw] lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[80px] text-white lg:max-w-[680px]">Meet the visionaries behind Viking Sunset Studios: Where creativity meets expertise</h2>
        <div class="people-wrap grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/people-1.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">CEO & President</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Bo H. Holmgreen</h3>
                    </div>
                </div>
            </div>
            <div class="col voidcard">

            </div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/people-2.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Accounting & Finance Manager</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Vivian Ikdayah</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/people-3.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Creative Manager</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Richo Darma</h3>
                    </div>
                </div>
            </div>
            <div class="col voidcard"></div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/people-4.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Creative</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Minggar Panji</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/people-5.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">VFX Supervisor</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Laurent-Paul Robert</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="people-item creative-force">
                    <h2 class="md:text-[3.47vw] lg:text-[48px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-12 text-white lg:max-w-[680px]">our creative forces</h2>
                    <ul class=" text-right">
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Senior Art Director</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Nina Kowalski</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Senior Producer</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Marco Rossi</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Director of Photography</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Liam O'Connor</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Lead Motion Designer</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">David Chang</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Visual Design Specialist</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Akiko Tanaka</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Production Coordinator</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Yuki Yamamoto</h3>
                        </li>
                        <li><p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] inline-flex align-super">Lead Editor</p>
                            <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] leading-[1.2]">Aisha Rahman</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>