---
layout: base.njk
title: Blog
activePage: blog
headerType: alt
---

<section id="section1" class="blog-masthead relative w-full bg-[#211C1C]">
    <div class="container mx-auto w-full relative z-3 py-6 px-5 flex flex-col flex-wrap justify-center items-center md:pt-[212px] pt-[170px] md:pb-[80px] pb-0">
        <div class="content text-white w-full z-20 relative">
            <div class="lg:w-10/12 ">
                <h1 class="font-intrumentsans font-semibold lg:text-7xl md:text-6xl text-4xl tracking-[-0.04em]  leading-[1.1] mb-4">Dive into the world of film with Viking Sunset Studios: Insights, Tips, and Industry News.</h1>
            </div>            
        </div>  
    </div>
</section>


<section class="blog-wrap pb-40 bg-[#211C1C]">
    <div class="container mx-auto px-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <!-- Blog Item 1 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-1.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3">[March 16, 2024]</div>
                    <h3 class="font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] ">Viking Sunset Studios from Bali to Shine at the 77th Festival De Cannes</h3>
                    
                </div>
            </a>
            <!-- Blog Item 2 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-2.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 ">[March 16, 2024]</div>
                    <h3 class=" font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] ">Cannes 2024: Sun, Stars, and Stories (with a Side of Controversy)</h3>                    
                </div>
            </a>
            <!-- Blog Item 3 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-3.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 ">[March 16, 2024]</div>
                    <h3 class=" font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] ">Production Design in Film, Explained</h3>                    
                </div>
            </a>
            <!-- Blog Item 4 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-4.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 ">[March 16, 2024]</div>
                    <h3 class=" font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] ">Storytelling for Movie: A Simple Guide from Idea to Big Screen</h3>                    
                </div>
            </a>
            <!-- Blog Item 4 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-5.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 ">[March 16, 2024]</div>
                    <h3 class=" font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] ">Top 10 Disruptive Films That Score Big in Rewriting Cinema’s Narrative Landscape</h3>                    
                </div>
            </a>
        </div>
    </div>
</section>