---
layout: base.njk
title: Blog
activePage: blog
headerType: alt
---

<section id="section1" class="about-masthead relative w-full min-h-[80vh] bg-[#211C1C]">
    <div class="container mx-auto w-full h-[80vh] relative z-3 py-6 flex flex-col flex-wrap justify-center items-center">
        <div class="content text-white px-5 w-full z-20 relative">
            <div class="lg:max-w-[1160px]">
                <h1 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em]  leading-[1.1] mb-4">Dive into the world of film with Viking Sunset Studios: Insights, Tips, and Industry News.</h1>
            </div>            
        </div>  
    </div>
</section>

<section class="blog-wrap pb-40 bg-[#211C1C]">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <!-- Blog Item 1 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-1.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content flex gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 w-4/12">[March 16, 2024]</div>
                    <h3 class="w-8/12 font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] md:indent-[60px]">Viking Sunset Studios from Bali to Shine at the 77th Festival De Cannes</h3>
                    
                </div>
            </a>
            <!-- Blog Item 2 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-2.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content flex gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 w-3/12">[March 16, 2024]</div>
                    <h3 class="w-9/12 font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] md:indent-[60px]">Cannes 2024: Sun, Stars, and Stories (with a Side of Controversy)</h3>                    
                </div>
            </a>
            <!-- Blog Item 3 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-3.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content flex gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 w-3/12">[March 16, 2024]</div>
                    <h3 class="w-9/12 font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] md:indent-[60px]">Production Design in Film, Explained</h3>                    
                </div>
            </a>
            <!-- Blog Item 4 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-4.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content flex gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 w-3/12">[March 16, 2024]</div>
                    <h3 class="w-9/12 font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] md:indent-[60px]">Storytelling for Movie: A Simple Guide from Idea to Big Screen</h3>                    
                </div>
            </a>
            <!-- Blog Item 4 -->
            <a class="blog-item" href="/blog-single">
                <div class="thumbnail mb-6">
                    <div class="box-img relative">
                        <u></u>
                        <u></u>
                        <u></u>
                        <u></u>
                        <img src="../assets/images/blog-thumbnail-5.jpg" alt="blog thumbnail" class="w-full h-[280px] object-cover">
                    </div>
                </div>
                <div class="content flex gap-10">
                    <div class="meta font-intrumentsans text-white font-semibold mb-3 w-3/12">[March 16, 2024]</div>
                    <h3 class="w-9/12 font-intrumentsans text-white md:text-[22px] text-xl font-semibold mb-4 leading-[1.2] tracking-[-0.02em] md:indent-[60px]">Top 10 Disruptive Films That Score Big in Rewriting Cinema’s Narrative Landscape</h3>                    
                </div>
            </a>
        </div>
    </div>
</section>