---
layout: base.njk
title: Equipment
activePage: equipment
headerType: alt
---

<section id="section1" class="equipment-masthead relative w-full lg:min-h-[100vh] bg-[#211C1C] pt-[360px]">
    <div class="container mx-auto px-5 w-full z-3 flex flex-col flex-wrap absolute top-0 left-0 right-0">
        <div class="content text-white  w-full z-20 relative md:pt-[212px] pt-[155px]">
            <div class="lg:w-10/12 ">
                <h1 class="font-intrumentsans font-semibold lg:text-7xl md:text-6xl text-4xl tracking-[-0.04em]  leading-[1.1] mb-4">At Viking Sunset Studios, we provide state-of-the-art equipment to ensure your production achieves the highest quality standards.</h1>
            </div>            
        </div>  
    </div>
    <div class="box-video w-full h-full max-h-[800px] m-auto object-cover ">
        <img class="thumbnail-img w-full h-full max-h-[800px] object-cover" src="../assets/images/img-hero-equipment.jpg" alt="thumbnail-masthead">
    </div>
</section>
<section class="services-list py-16 lg:pt-[120px] bg-[#211C1C] ]">
    <div class="wrap container mx-auto px-5">
        <div class="fd-item flex flex-wrap justify-between py-10">
            <div class="left w-7/12">
                <div class="content flex flex-wrap gap-10">
                    <div class="number text-white">[01]</div>
                    <div class="text w-9/12 lg:ml-10">
                        <h3 class="font-intrumentsans text-white lg:text-[50px] text-[28px] font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Cinema Camera</h3>
                        <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Large format/full frame cinema camera</div>
                        <ul>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Arri Alexa Mini LF</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Leica Leitz M 0.8 Cinema Lens (Full Set)</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>DJI Ronin 4D Zenmuse X9-6K</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right w-5/12 flex justify-end">
                <img src="../assets/images/equipment-img-1.jpg" alt="img" class="w-full h-full lg:max-h-[400px] lg:max-w-[440px] object-cover">
            </div>
        </div>
        <div class="fd-item flex flex-wrap justify-between py-10 border-t border-[#FFFFFF26]">
            <div class="left w-7/12">
                <div class="content flex flex-wrap gap-10">
                    <div class="number text-white">[02]</div>
                    <div class="text w-9/12 lg:ml-10">
                        <h3 class="font-intrumentsans text-white lg:text-[50px] text-[28px] font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Video TX+RX/MON</h3>
                        <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Agile video transmission and monitor</div>
                        <ul>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Hollyland Mars 4K (TX+RX)</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Hollyland Mars M1 5.5* Monitor (TX+RX)</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>12G-SDI Canare Cable L5.5CUHD (2X)</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>High-speed 4K HDMI cable (2X)</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>High and standard NP-F battery (2X)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right w-5/12 flex justify-end">
                <img src="../assets/images/equipment-img-2.jpg" alt="img" class="w-full h-full lg:max-h-[400px] lg:max-w-[440px] object-cover">
            </div>
        </div>
        <div class="fd-item flex flex-wrap justify-between py-10 border-t border-[#FFFFFF26]">
            <div class="left w-7/12">
                <div class="content flex flex-wrap gap-10">
                    <div class="number text-white">[03]</div>
                    <div class="text w-9/12 lg:ml-10">
                        <h3 class="font-intrumentsans text-white lg:text-[50px] text-[28px] font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Camera support</h3>
                        <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Durable camera support</div>
                        <ul>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Tilta Nucleus-M wireless hand fiz basic kit</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>R/S cable 7pin for Arri Mini & Mini LF</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right w-5/12 flex justify-end">
                <img src="../assets/images/equipment-img-3.jpg" alt="img" class="w-full h-full lg:max-h-[400px] lg:max-w-[440px] object-cover">
            </div>
        </div>
        <div class="fd-item flex flex-wrap justify-between py-10 border-t border-[#FFFFFF26]">
            <div class="left w-7/12">
                <div class="content flex flex-wrap gap-10">
                    <div class="number text-white">[04]</div>
                    <div class="text w-9/12 lg:ml-10">
                        <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Sound support</h3>
                        <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Versatile sound field & studio production support</div>
                        <ul>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Boom mic set</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Rode NTG4+</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Zoom H-6 hand recorder</span>
                            </li>
                            <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                <span>Rode wireless GO II</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right w-5/12 flex justify-end">
                <img src="../assets/images/equipment-img-4.jpg" alt="img" class="w-full h-full lg:max-h-[400px] lg:max-w-[440px] object-cover">
            </div>
        </div>
    </div>
    <div class="btn-wrap container mx-auto px-5 flex gap-2 md:flex-row flex-col pt-10">
        <!-- <a href="our-work" class="btn btn-secondary py-4 px-10 uppercase bg-secondary inline-block transition duration-300 ease-in-out hover:scale-[1.02] border border-white text-white md:text-left text-center">
            <span>load more equipment</span>
        </a> -->
        <a href="our-work" class="btn btn-secondary py-4 px-10 uppercase bg-secondary inline-block transition duration-300 ease-in-out hover:scale-[1.02] border border-white text-white md:text-left text-center">
            <span>Download Full List</span>
        </a>
    </div>
</section>
