---
layout: base.njk
title: Viking Film Fund
activePage: film-fund
headerType: alt
---

<section id="section1" class="filmfund-masthead relative w-full min-h-[100vh] bg-[#211C1C] pb-[340px]">
    <div class="container-fluid w-full h-[100vh] relative z-3 py-6 flex flex-col flex-wrap justify-center items-center">
        <div class="content text-white px-5 w-full z-20 relative">
            <div class="lg:max-w-[1160px]">
                <h1 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[100px] leading-[1.1] mb-4">Viking Film Fund is an initiative by Viking Sunset Studios aimed at supporting the Indonesian film industry on a global stage.</h1>
            </div>            
        </div>  
    </div>
    <div class="box-video absolute top-0 left-0 right-0 bottom-[-490px] w-full h-full max-h-[800px] m-auto object-cover">
        <img class="thumbnail-img w-full h-full max-h-[800px] object-cover" src="../assets/images/img-masthead-film-fund.jpg" alt="thumbnail-masthead">
    </div>
</section>
<section class="filmfund-content py-40 bg-[#211C1C] border-b border-[#FF7324]">
    <div class="container mx-auto">
        <h2 class="lg:max-w-[680px] lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[80px] text-white">Empowering Visionary Filmmakers with World-Class Resources and Financial Backing</h2>
        <div class="flex">
            <div class="w-4/12">
                <img src="../assets/images/filmfun-photo.jpg" alt="img">
            </div>
            <div class="w-8/12">
                <article class="text-white columns-2 gap-6">
                    <p>Viking Film Fund bridges the gap between creative vision and professional execution in Indonesian cinema. Our initiative combines essential financial backing with access to world-class production resources, ensuring local filmmakers can realize their stories at international standards. Through strategic funding and technical support, we remove the barriers that typically constrain ambitious film projects.</p>
                    <p>Beyond traditional funding, we provide complete access to Viking Sunset Studios' professional facilities and equipment. From ARRI camera systems to green-screen studios, filmmakers gain the tools needed for world-class production. This unique combination of financial and technical resources creates an environment where Indonesian storytellers can fully realize their creative ambitions.</p>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="fund-event py-40 bg-[#211C1C]">
    <h2 class="lg:max-w-[680px] lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] lg:mb-[120px] mb-16 text-white mx-auto text-center">Past Viking Film Fund 2024 Journey</h2>
    <div class="container-flux px-6 relative m-h-[430vh]">
        <!-- <div class="w-[74px] h-[270px] sticky z-5 pagination-thumb thumbloct1 hidden lg:block">
        </div> -->
        <div class="location-item relative h-[110vh] mb-6">
            <div class="ttb-bg absolute top-0 left-0 right-0 bottom-0 w-full h-full m-auto object-cover">
                <img class="img w-full h-full object-cover" src="../assets/images/film-fun-event-img-1.jpg" alt="img-masthead">   
            </div>
            <div class="content lg:max-w-[920px] h-full mx-auto flex flex-col justify-between items-center text-white py-16 relative z-10">
                <div class="text-top sticky top-32">
                    <h3 class="text-center lg:text-[24px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] text-white">[February 24, 2024]</h3>
                </div>
                <div class="text-bottom">
                    <div class="text-center">
                        <h3 class="text-center lg:text-[36px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[16px] text-white">Live Pitching</h3>
                        <p>During the live pitching session, we are honored to have 5 esteemed jury members from the film industry. Their expertise ensures that the eventual winner truly stands out as the best among the best.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-item relative h-[110vh] mb-6">
            <div class="ttb-bg absolute top-0 left-0 right-0 bottom-0 w-full h-full m-auto object-cover">
                <img class="img w-full h-full object-cover" src="../assets/images/film-fun-event-img-2.jpg" alt="img-masthead">   
            </div>
            <div class="content lg:max-w-[920px] h-full mx-auto flex flex-col justify-between items-center text-white py-16 relative z-10">
                <div class="text-top sticky top-32">
                    <h3 class="text-center lg:text-[24px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] text-white">[February 24, 2024]</h3>
                </div>
                <div class="text-bottom">
                    <div class="text-center">
                        <h3 class="text-center lg:text-[36px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[16px] text-white">Award Ceremony & Winner Announcement</h3>
                        <p>After carefully watching the 20 pitched films, our jury, along with Viking Sunset Studios President & CEO, Bo H. Holmgreen, have made the decision to crown the winner of VFF 2024. In the end, we have selected five film projects as the recipients of the Viking Film Fund 2024.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-item relative h-[110vh]">
            <div class="ttb-bg absolute top-0 left-0 right-0 bottom-0 w-full h-full m-auto object-cover">
                <iframe class="w-full h-full z-20 relative" src="https://www.youtube.com/embed/aGOaHeJS5TU?si=waYy-lg3sslb-I4e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
            </div>
        </div>
        <!-- <div class="h-[30vh] hidden lg:block"></div> -->
    </div>
</section>
