---
layout: base.njk
title: Homepage
root: true
---

<section id="section1" class="homepage-masthead relative w-full min-h-[100vh] overflow-hidden">
    <img class="masthead-img absolute top-0 left-0 w-full h-full object-cover" src="assets/images/homepage-masthead.jpg" alt="img-masthead">
    <div class="container mx-auto w-full min-h-[100vh] relative z-3 px-5 py-6">
        <div class="content text-white lg:w-9/12  md:pt-[188px] pt-16">
            <div class="font-intrumentsans font-semibold lg:text-7xl text-4xl tracking-[-0.04em] leading-[1.1] mb-4">
            Where World-Class Production Meets Paradise</div>
            <div class="subtitle text-xl mb-8">
            <p>Bringing together international production standards, comprehensive support, and Bali's creative spirit</p>
            </div>
            <!-- <a href="#section2" class="btn-primary py-4 px-10 uppercase bg-primary inline-block transition duration-300 ease-in-out hover:scale-[1.02]">
            <span>Discover studios</span>
            </a> -->
        </div>        
    </div>
    <div class="container-fluid mx-auto w-full">
        <h1 class="absolute left-0 lg:bottom-0 bottom-5 text-white tracking-[-0.03em] text-[8.2vw] leading-[1em] uppercase text-center w-full font-bold">Viking sunset studios</h1>
    </div>
</section>
<section id="section2" class="py-[11.1111vw] bg-secondary ">
    <div class="container mx-auto text-white">
    <div class="lg:w-10/12 px-6 mx-auto animate-text">
        <h2 class="text-center md:text-[50px] text-2xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.04em]">
            <span>We are Viking Sunset Studio</span>
            We are Bali's premier film production facility, crafted with passion and expertise. Our studio specializes in comprehensive production services, from state-of-the-art shooting spaces to post-production excellence.
        </h2>
    </div>
    <!-- <div class="misc md:text-xl lg:max-w-[47.2222dvw] md:max-w-[90%] mx-auto text-center px-6 animate-text">
        <p>Every space is meticulously maintained to ensure your production runs smoothly from day one. Our technical team is always on standby to provide support throughout your shoot.Located in the heart of Bali, we combine professional studio facilities with the island's unique filming locations - offering you the best of both worlds.</p>
    </div> -->
    </div>
</section>
<!-- <section class="home-location relative md:pt-[100vh] pt-[50vh]" id="home_location">
    <div class="container absolute top-16 left-0 right-0 mx-auto z-10 px-6">
        <h2 class="text-2xl text-white font-intrumentsans font-semibold block mb-2">Viking Sunset Studios</h2>
        <div class="location text-white">Tabanan, Bali</div>
    </div>
    <img class="absolute top-0 left-0 w-full h-full object-cover" src="assets/images/img-tabanan-1.jpg" />
    <div class="pointing-wrap absolute top-0 left-0 w-full md:h-full h-[50vh] z-10">
        <a href="javascript:void(0)" class="pointing absolute" style="top: 48vh; left: 25vw;" data-target="loct1">Bungalow</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 57vh; left: 38vw;" data-target="loct2">Pool</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 50vh; left: 46vw;" data-target="loct3">Studio</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 75vh; left: 50vw;" data-target="loct4">Beach Area</a>
    </div>
</section> -->
<section class="home-location relative" id="home_location">
    <div class="container absolute md:top-16 top-5 left-0 right-0 mx-auto z-10 px-6">
        <h2 class="text-2xl text-white font-intrumentsans font-semibold block mb-2">Viking Sunset Studios</h2>
        <div class="location text-white">Tabanan, Bali</div>
    </div>
    <img class="w-full h-full object-cover" src="assets/images/img-tabanan-1.jpg" />
    <div class="pointing-wrap absolute top-0 left-0 w-full h-full z-10">
        <a href="javascript:void(0)" class="pointing absolute" style="top: 48%; left: 25%;" data-target="loct1">Bungalow</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 57%; left: 38%;" data-target="loct2">Pool</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 50%; left: 46%;" data-target="loct3">Studio</a>
        <a href="javascript:void(0)" class="pointing absolute" style="top: 75%; left: 50%;" data-target="loct4">Beach Area</a>
    </div>
</section>


<section class="homepage-project py-[11.1111vw] bg-secondary">
    <div class="container mx-auto text-white">
    <div class="md:max-w-[47.2222dvw] mx-auto">
        <h2 class="text-center md:text-[3.47vw] text-2xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[16px]">Excellence in Every Frame, <br>Success in Every Project
        </h2>
    </div>
    <div class="misc md:max-w-[47.2222dvw] px-6 mx-auto text-center mb-[80px]">
        <p>Our track record of successful projects, backed by cutting-edge technology and comprehensive production support, ensures your vision is brought to life with precision and excellence.</p>
    </div>
    </div>
    <div class="swiper projectSwiper mb-20">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-1.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-2.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-3.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-4.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-5.png"/></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
    <div class="lg:max-w-[47.2222dvw] mx-auto px-6 md:grid md:grid-cols-2 gap-8 text-white mb-20">
    <div class="col-span-1">
        <p>As Southeast Asia's premier production facility, we've carefully crafted every aspect of our offering to ensure your creative vision becomes reality. Our commitment to excellence is reflected in three key pillars that set us apart:</p>
    </div>
    <div class="col-span-1 mt-6 md:mt-0">
        <ul>
        <li class="flex items-start gap-6 mb-7">
            <img class="icon" src="assets/images/icon-primarcy-1.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold mt-[-6px]">World-Class Facilities & Technology</div>
        </li>
        <li class="flex items-start align-middle gap-6 mb-7">
            <img class="icon" src="assets/images/icon-primarcy-2.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold mt-[-6px]">Strategic Location & Support</div>
        </li>
        <li class="flex items-start align-middle gap-6">
            <img class="icon" src="assets/images/icon-primarcy-3.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold mt-[-6px]">Full-Service Production Solutions</div>
        </li>
        </ul>
    </div>
    </div>
    <div class="lg:max-w-[47.2222dvw] mx-auto text-center">
    <a href="our-work" class="btn btn-secondary py-4 px-10 uppercase bg-secondary inline-block transition duration-300 ease-in-out hover:scale-[1.02] border border-white text-white">
        <span>Discover our work</span>
    </a>
    </div>      
</section>
<section class="bg-white pt-[120px]">
    <a href="#" target="_blank" class="block lg:max-w-[785px] max-w-full px-6 mx-auto mb-10">
    <img src="assets/images/ig-profile.png" alt="ig-profile">
    </a>
    <div class="ig-post grid grid-cols-5">
    <div class="col-span-1">
        <img src="assets/images/ig-post-1.jpg" alt="ig-post" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-2.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-3.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-4.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-5.jpg" alt="" class="w-full h-full object-cover">
    </div>
    </div>
</section>

<div class="backdrop"></div>

<section id="loct1" class="location-detail popup fixed top-0 right-[-66.666667vw] w-8/12 h-full bg-[#211C1C] z-50 overflow-auto" data-lenis-prevent>
    <div class="container mx-auto p-5 relative">
        <a href="#home_location" class="btn-back absolute top-6 right-5 font-semibold leading-[40px] tracking-[-0.04em] text-secondary w-[56px] h-[40px] text-center border border-[#11111140] bg-white">X</a>
        <div class="flex justify-between pt-10 mb-10">
            <div class="">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[1.1] mb-6 text-white">Viking Sunset Studios</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container mx-auto">
            <div class="swiper ldSwiper mb-10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> 
        </div>
        <div class="additional-info text-white">
            <span class="opacity-50">Additional Information</span>
            <ul class="flex flex-wrap gap-2">
                <li>Information-01</li>
                <li>Information-02</li>
                <li>Information-03</li>
                <li>Information-04</li>
                <li>Information-05</li>
            </ul>
        </div>
    </div>
</section>
<section id="loct2" class="location-detail popup fixed top-0 right-[-66.666667vw] w-8/12 h-full bg-[#211C1C] z-50 overflow-auto" data-lenis-prevent>
    <div class="container mx-auto p-5 relative">
        <a href="#home_location" class="btn-back absolute top-6 right-5 font-semibold leading-[40px] tracking-[-0.04em] text-secondary w-[56px] h-[40px] text-center border border-[#11111140] bg-white">X</a>
        <div class="flex justify-between pt-10 mb-10">
            <div class="">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[1.1] mb-6 text-white">Pool</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto">
            <div class="swiper ldSwiper mb-10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> 
            
        </div>
        <div class="additional-info text-white">
            <span class="opacity-50">Additional Information</span>
            <ul class="flex flex-wrap gap-2">
                <li>Information-01</li>
                <li>Information-02</li>
                <li>Information-03</li>
                <li>Information-04</li>
                <li>Information-05</li>
            </ul>
        </div>
    </div>
</section>
<section id="loct3" class="location-detail popup fixed top-0 right-[-66.666667vw] w-8/12 h-full bg-[#211C1C] z-50 overflow-auto" data-lenis-prevent>
    <div class="container mx-auto p-5 relative">
        <a href="#home_location" class="btn-back absolute top-6 right-5 font-semibold leading-[40px] tracking-[-0.04em] text-secondary w-[56px] h-[40px] text-center border border-[#11111140] bg-white">X</a>
        <div class="flex justify-between pt-10 mb-10">
            <div class="">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[1.1] mb-6 text-white">Studio</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto">
            <div class="swiper ldSwiper mb-10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>  
        </div>
        <div class="additional-info text-white">
            <span class="opacity-50">Additional Information</span>
            <ul class="flex flex-wrap gap-2">
                <li>Information-01</li>
                <li>Information-02</li>
                <li>Information-03</li>
                <li>Information-04</li>
                <li>Information-05</li>
            </ul>
        </div>
    </div>
</section>
<section id="loct4" class="location-detail popup fixed top-0 right-[-66.666667vw] w-8/12 h-full bg-[#211C1C] z-50 overflow-auto" data-lenis-prevent>
    <div class="container mx-auto p-5 relative">
        <a href="#home_location" class="btn-back absolute top-6 right-5 font-semibold leading-[40px] tracking-[-0.04em] text-secondary w-[56px] h-[40px] text-center border border-[#11111140] bg-white">X</a>
        <div class="flex justify-between pt-10 mb-10">
            <div class="">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[1.1] mb-6 text-white">Beach Area</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto">
            <div class="swiper ldSwiper mb-10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                    <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
                </div>                
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>                
            
        </div>
        <div class="additional-info text-white">
            <span class="opacity-50">Additional Information</span>
            <ul class="flex flex-wrap gap-2">
                <li>Information-01</li>
                <li>Information-02</li>
                <li>Information-03</li>
                <li>Information-04</li>
                <li>Information-05</li>
            </ul>
        </div>
    </div>
</section>