---
layout: base.njk
title: Homepage
root: true
---

<section id="section1" class="homepage-masthead relative w-full min-h-[100vh] overflow-hidden">
    <img class="masthead-img absolute top-0 left-0 w-full h-full object-cover" src="assets/images/hoempage-masthead.jpg" alt="img-masthead">
    <div class="container-fluid w-full min-h-[100vh] relative z-3 px-5 py-6">
    <div class="content text-white max-w-[800px]">
        <div class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[100px] leading-[1.1] mb-4">
        Where World-Class  Production <span class="font-intrumentserif font-normal italic">Meets Paradise</span>
        </div>
        <div class="subtitle text-xl mb-8 max-w-[680px]">
        <p>Bringing together international production standards, comprehensive support, and Bali's creative spirit</p>
        </div>
        <a href="#section2" class="btn-primary py-4 px-10 uppercase bg-primary inline-block transition duration-300 ease-in-out hover:scale-[1.02]">
        <span>Discover studios</span>
        </a>
    </div>        
    <h1 class="absolute left-0 bottom-0 font-anton text-white text-6xl text-[12.5465vw] uppercase text-center w-full">Viking sunset studios</h1>
    </div>
</section>
<section id="section2" class="py-[11.1111vw] bg-secondary ">
    <div class="container mx-auto text-white">
    <div class="lg:max-w-[63.8889dvw] px-6 mx-auto animate-text">
        <h2 class="text-center md:text-[50px] text-2xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[5.5556dvw]">
        We are Viking Sunset Studios We are Bali's premier film production facility, crafted with passion and expertise. Our studio specializes in comprehensive production services, from state-of-the-art shooting spaces to post-production excellence.
        </h2>
    </div>
    <div class="misc md:text-xl lg:max-w-[47.2222dvw] md:max-w-[90%] mx-auto text-center px-6 animate-text">
        <p>Every space is meticulously maintained to ensure your production runs smoothly from day one. Our technical team is always on standby to provide support throughout your shoot.Located in the heart of Bali, we combine professional studio facilities with the island's unique filming locations - offering you the best of both worlds.</p>
    </div>
    </div>
</section>
<div class="homepage-location relative m-h-[430vh]">
    <div class="w-[74px] h-[270px] sticky z-5 pagination-thumb thumbloct1 hidden lg:block">
    <div class="flex flex-col gap-4">
        <div class="thumbloct-item" data-target="loct1">
            <img src="assets/images/img-tabanan-1.jpg" />
        </div>
        <div class="thumbloct-item" data-target="loct2">
            <img src="assets/images/img-tabanan-2.jpg" />
        </div>
        <div class="thumbloct-item" data-target="loct3">
            <img src="assets/images/img-tabanan-3.jpg" />
        </div>
        <div class="thumbloct-item" data-target="loct4">
            <img src="assets/images/img-tabanan-4.jpg" />
        </div>
    </div>
    </div>
    <div id="back_loct1" class="location-item relative h-[100vh]" data-target="loct1">
    <img class="absolute top-0 left-0 w-full h-full object-cover" src="assets/images/img-tabanan-1.jpg" />
    <div class="content absolute max-w-max max-h-max left-0 right-0 bottom-0 top-0 m-auto z-6 text-white text-center">
        <div class="numbering text-white text-center font-semibold">[01]</div>
        <h2 class="md:text-[5.56vw] text-4xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em]">Viking Sunset Studios</h2>
        <div class="location">Tabanan, Bali</div>
    </div>
    </div>
    <div id="back_loct2" class="location-item relative h-[100vh]" data-target="loct2">
    <img class="absolute top-0 left-0 w-full h-full object-cover" src="assets/images/img-tabanan-2.jpg" />
    <div class="content absolute max-w-max max-h-max left-0 right-0 bottom-0 top-0 m-auto z-6 text-white text-center">
        <div class="numbering text-white text-center font-semibold">[02]</div>
        <h2 class="md:text-[5.56vw] text-4xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em]">Upcoming studio</h2>
        <div class="location">Tabanan, Bali</div>
    </div>
    </div>
    <div id="back_loct3" class="location-item relative h-[100vh]" data-target="loct3">
    <img class="absolute top-0 left-0 w-full h-full object-cover" src="assets/images/img-tabanan-3.jpg" />
    <div class="content absolute max-w-max max-h-max left-0 right-0 bottom-0 top-0 m-auto z-6 text-white text-center">
        <div class="numbering text-white text-center font-semibold">[03]</div>
        <h2 class="md:text-[5.56vw] text-4xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em]">Bungalow</h2>
        <div class="location">Tabanan, Bali</div>
    </div>
    </div>
    <div id="back_loct4" class="location-item relative h-[100vh]" data-target="loct4">
    <img class="absolute top-0 left-0 w-full h-full object-cover" src="assets/images/img-tabanan-4.jpg" />
    <div class="content absolute max-w-max max-h-max left-0 right-0 bottom-0 top-0 m-auto z-6 text-white text-center">
        <div class="numbering text-white text-center font-semibold">[04]</div>
        <h2 class="md:text-[5.56vw] text-4xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em]">Beach Area</h2>
        <div class="location">Tabanan, Bali</div>
    </div>
    </div>
    <div class="h-[30vh] hidden lg:block"></div>
</div>

<section class="homepage-project py-[11.1111vw] bg-secondary">
    <div class="container mx-auto text-white">
    <div class="md:max-w-[47.2222dvw] mx-auto py-6">
        <h2 class="text-center md:text-[3.47vw] text-2xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[16px]">Excellence in Every Frame, <br>Success in Every Project
        </h2>
    </div>
    <div class="misc md:max-w-[47.2222dvw] px-6 mx-auto text-center mb-[80px]">
        <p>Our track record of successful projects, backed by cutting-edge technology and comprehensive production support, ensures your vision is brought to life with precision and excellence.</p>
    </div>
    </div>
    <div class="swiper projectSwiper mb-20">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-1.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-2.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-3.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-4.png"/></div>
        <div class="swiper-slide"><span></span><span></span><span></span><span></span><img src="assets/images/project-thumb-5.png"/></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
    <div class="lg:max-w-[47.2222dvw] mx-auto px-6 md:grid md:grid-cols-2 gap-8 text-white mb-20">
    <div class="col-span-1">
        <p>As Southeast Asia's premier production facility, we've carefully crafted every aspect of our offering to ensure your creative vision becomes reality. Our commitment to excellence is reflected in three key pillars that set us apart:</p>
    </div>
    <div class="col-span-1 mt-6 md:mt-0">
        <ul>
        <li class="flex items-center gap-6 mb-7">
            <img class="icon" src="assets/images/icon-primarcy-1.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold">World-Class Facilities & Technology</div>
        </li>
        <li class="flex align-middle gap-6 mb-7">
            <img class="icon" src="assets/images/icon-primarcy-2.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold">Strategic Location & Support</div>
        </li>
        <li class="flex align-middle gap-6">
            <img class="icon" src="assets/images/icon-primarcy-3.svg" alt="icon">
            <div class="text lg:text-2xl md:text-xl text-lg font-semibold">Full-Service Production Solutions</div>
        </li>
        </ul>
    </div>
    </div>
    <div class="lg:max-w-[47.2222dvw] mx-auto text-center">
    <a href="our-work" class="btn btn-secondary py-4 px-10 uppercase bg-secondary inline-block transition duration-300 ease-in-out hover:scale-[1.02] border border-white text-white">
        <span>Discover our work</span>
    </a>
    </div>      
</section>
<section class="bg-white pt-[120px]">
    <a href="#" target="_blank" class="block lg:max-w-[785px] max-w-full px-6 mx-auto mb-10">
    <img src="assets/images/ig-profile.png" alt="ig-profile">
    </a>
    <div class="ig-post grid grid-cols-5">
    <div class="col-span-1">
        <img src="assets/images/ig-post-1.jpg" alt="ig-post" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-2.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-3.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-4.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="col-span-1">
        <img src="assets/images/ig-post-5.jpg" alt="" class="w-full h-full object-cover">
    </div>
    </div>
</section>

<section id="loct1" class="location-detail popup fixed top-0 left-0 w-full h-full bg-[#211C1C] z-50 overflow-auto hidden" data-lenis-prevent>
    <div class="container-fluid p-5 relative">
        <a href="#back_loct1" class="btn-back absolute top-6 lef-5 text-xl font-semibold leading-[1.2em] tracking-[-0.04em] text-primary">[ Back to  Homepage ]</a>
        <div class="flex justify-between py-20 lg:py-[128px]">
            <div class="w-7/12 flex flex-col justify-between">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[120px] leading-[1.1] mb-6 text-white">Viking Sunset Studios</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
                
                <div class="bottom">                    
                    <div class="ld-button-next"></div>
                    <div class="ld-button-prev"></div>
                </div>
            </div>
            <div class="w-4/12">
                <ul>
                    <li class="pb-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Location</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Tabanan, Bali
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Facility</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Facilities-01, Facilities-02, Facilities-03, Facilities-04, Facilities-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Additional Information</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Information-01, Information-02, Information-03, Information-04, Information-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Area size</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            20 x 30 x 12 m.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="swiper ldSwiper mb-20 pl-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
            </div>
        </div>
    </div>
</section>
<section id="loct2" class="location-detail popup fixed top-0 left-0 w-full h-full bg-[#211C1C] z-50 overflow-auto hidden" data-lenis-prevent>
    <div class="container-fluid p-5 relative">
        <a href="#back_loct2" class="btn-back absolute top-6 lef-5 text-xl font-semibold leading-[1.2em] tracking-[-0.04em] text-primary">[ Back to  Homepage ]</a>
        <div class="flex justify-between py-20 lg:py-[128px]">
            <div class="w-7/12 flex flex-col justify-between">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[120px] leading-[1.1] mb-6 text-white">Upcoming studio</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
                
                <div class="bottom">                    
                    <div class="ld-button-next"></div>
                    <div class="ld-button-prev"></div>
                </div>
            </div>
            <div class="w-4/12">
                <ul>
                    <li class="pb-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Location</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Tabanan, Bali
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Facility</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Facilities-01, Facilities-02, Facilities-03, Facilities-04, Facilities-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Additional Information</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Information-01, Information-02, Information-03, Information-04, Information-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Area size</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            20 x 30 x 12 m.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="swiper ldSwiper mb-20 pl-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
            </div>
        </div>
    </div>
</section>
<section id="loct3" class="location-detail popup fixed top-0 left-0 w-full h-full bg-[#211C1C] z-50 overflow-auto hidden" data-lenis-prevent>
    <div class="container-fluid p-5 relative">
        <a href="#back_loct3" class="btn-back absolute top-6 lef-5 text-xl font-semibold leading-[1.2em] tracking-[-0.04em] text-primary">[ Back to  Homepage ]</a>
        <div class="flex justify-between py-20 lg:py-[128px]">
            <div class="w-7/12 flex flex-col justify-between">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[120px] leading-[1.1] mb-6 text-white">Bungalow</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
                
                <div class="bottom">                    
                    <div class="ld-button-next"></div>
                    <div class="ld-button-prev"></div>
                </div>
            </div>
            <div class="w-4/12">
                <ul>
                    <li class="pb-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Location</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Tabanan, Bali
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Facility</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Facilities-01, Facilities-02, Facilities-03, Facilities-04, Facilities-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Additional Information</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Information-01, Information-02, Information-03, Information-04, Information-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Area size</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            20 x 30 x 12 m.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="swiper ldSwiper mb-20 pl-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
            </div>
        </div>
    </div>
</section>
<section id="loct4" class="location-detail popup fixed top-0 left-0 w-full h-full bg-[#211C1C] z-50 overflow-auto hidden" data-lenis-prevent>
    <div class="container-fluid p-5 relative">
        <a href="#back_loct4" class="btn-back absolute top-6 lef-5 text-xl font-semibold leading-[1.2em] tracking-[-0.04em] text-primary">[ Back to  Homepage ]</a>
        <div class="flex justify-between py-20 lg:py-[128px]">
            <div class="w-7/12 flex flex-col justify-between">
                <div class="top">
                    <h2 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em] md:indent-[120px] leading-[1.1] mb-6 text-white">Beach Area</h2>
                    <div class="desc text-white">
                        <p>Long description of the location will go here, we can go with 2 - 4 liner description to describe the location and give potential customer/users more information about it, for instance location, facilities, area size, and other additional information.</p>
                    </div>
                </div>
                
                <div class="bottom">                    
                    <div class="ld-button-next"></div>
                    <div class="ld-button-prev"></div>
                </div>
            </div>
            <div class="w-4/12">
                <ul>
                    <li class="pb-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Location</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Tabanan, Bali
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Facility</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Facilities-01, Facilities-02, Facilities-03, Facilities-04, Facilities-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Additional Information</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            Information-01, Information-02, Information-03, Information-04, Information-05,
                        </div>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26]">
                        <div class="text-white/50 text-sm tracking-[-0.04em] leading-[1.2em] mb-1">Area size</div>
                        <div class="text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">
                            20 x 30 x 12 m.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="swiper ldSwiper mb-20 pl-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/img-tabanan-4.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-2.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-3.jpg"/></div>
                <div class="swiper-slide"><img src="assets/images/img-tabanan-1.jpg"/></div>
            </div>
        </div>
    </div>
</section>