---
layout: base.njk
title: Our Work
activePage: our-work
headerType: alt
---


<section id="section1" class="ourwork-masthead relative w-full lg:min-h-[100vh] bg-[#211C1C] pt-[360px]">
    <div class="container mx-auto px-5 w-full z-3 flex flex-col flex-wrap absolute top-0 left-0 right-0">
        <div class="content text-white  w-full z-20 relative md:pt-[212px] pt-[155px]">
            <div class="lg:w-10/12 ">
                <h1 class="font-intrumentsans font-semibold lg:text-7xl md:text-6xl text-4xl tracking-[-0.04em]  leading-[1.1] mb-4">Explore the creativity of Viking Sunset Studios through groundbreaking films and thought-provoking documentaries.</h1>
            </div>            
        </div>  
    </div>
    <a href="https://youtu.be/sDz5ypbxEiE?si=JkoLZKo4Utel_IDc" class="box-video w-full h-full max-h-[800px] m-auto object-cover relative" data-lity>
        <!-- <img class="thumbnail-img w-full h-full max-h-[800px] object-cover" src="../assets/images/masthead-thumbnail-ourwork.jpg" alt="thumbnail-masthead"> -->
        <div class="thumbnail-img w-full h-full max-h-[800px]">
            <video id="mastheadVid" class="w-full h-full object-cover max-h-[800px]" loop autoplay muted playsinline>
                <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
                <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
            </video>
        </div>
        <div class="content-fluid px-5 py-11 flex justify-between items-center absolute left-0 bottom-0 right-0 top-0 m-auto w-full text-center max-w-[max-content]">
            <div class="btn-play text-white font-intrumentsans text-[22px] font-semibold">
                <div class="ic"></div>
                <span>Play highlight</span>
            </div>
        </div>
    </a>
</section>

<section class="ourwork-documentary bg-[#211C1C] py-16 lg:pt-[120px]">
    <div class="container mx-auto lg:px-0 px-5">
        <h2 class="title-waksen font-intrumentsans text-[22px] leading-[1.5em] tracking-[-0.04em] font-semibold text-primary mb-10"><u></u><u></u><u></u><u></u>
            <span>Film & Documentary</span></h2>
            <div class="fd-wrap">
                <a href="/our-work-detail" class="fd-item block">
                    <div class="mx-auto py-10">
                        <div class="work-heading lg:mb-10 mb-6">
                            <div class="content flex flex-wrap gap-10">
                                <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-3.png"/></div>
                                <div class="text w-9/12">
                                    <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Death in Bali: A Joyful Celebration</h3>
                                    <div class="misc lg:text-[20px] text-base leading-[1.5em] trackgin-[-0.02em] text-white lg:mb-6">Death, in many places, is celebrated as a tragic experience that makes us feel melancholic. However, in Bali, Indonesia, known as Ngaben, death is celebrated through a joyful party, especially for a deceased King. Almost no cries, a lot of laugh.</div>
                                    <!-- <ul>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Service name goes here</span>
                                        </li>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Year information goes here</span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="work-thumbnail">
                            <div class="box-youtube">
                                <iframe  src="https://www.youtube.com/embed/kWIA8Muydhs?si=nv-3NzNNAinX3f1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/our-work-detail" class="fd-item block">
                    <div class="mx-auto py-10">
                        <div class="work-heading lg:mb-10 mb-6">
                            <div class="content flex flex-wrap gap-10">
                                <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-4.png"/></div>
                                <div class="text w-9/12">
                                    <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">The Boy & The Ogoh-Ogoh</h3>
                                    <div class="misc lg:text-[20px] text-base leading-[1.5em] trackgin-[-0.02em] text-white mb-6">In traditional tales of Balinese culture, Ogoh-Ogoh emerges as shadowy reflection of our inner fears and other negative emotion. Through the lens of a child's innocence, this encounter weaves a delicate combination between documentary and reality. Such artistry unveils the essence of Balinese culture with a subtle grace, inviting exploration with a poetic whisper.</div>
                                    <!-- <ul>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Service name goes here</span>
                                        </li>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Year information goes here</span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="work-thumbnail">
                            <div class="box-youtube">
                                <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    
                </a>
                <a href="/our-work-detail" class="fd-item block ">
                    <div class="mx-auto py-10">
                        <div class="work-heading lg:mb-10 mb-6">
                            <div class="content flex flex-wrap gap-10">
                                <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-5.png"/></div>
                                <div class="text w-9/12">
                                    <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Asmaradana</h3>
                                    <div class="misc lg:text-[20px] text-base leading-[1.5em] trackgin-[-0.02em] text-white lg:mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                                    <!-- <ul>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Service name goes here</span>
                                        </li>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Year information goes here</span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="work-thumbnail">
                            <div class="box-youtube">
                                <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    
                </a>
                <a href="/our-work-detail" class="fd-item block ">
                    <div class="mx-auto py-10">
                        <div class="work-heading lg:mb-10 mb-6">
                            <div class="content flex flex-wrap gap-10">
                                <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-1.png"/></div>
                                <div class="text w-9/12">
                                    <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Sosak</h3>
                                    <div class="misc lg:text-[20px] text-base leading-[1.5em] trackgin-[-0.02em] text-white lg:mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                                    <!-- <ul>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Service name goes here</span>
                                        </li>
                                        <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                            <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                            <span>Year information goes here</span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="work-thumbnail">
                            <div class="box-youtube">
                                <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <a href="our-work" class="btn btn-secondary py-4 md:px-10 px-6 mt-10 uppercase bg-secondary inline-block transition duration-300 ease-in-out hover:scale-[1.02] border border-white text-white">
                <span>load more Film & Documentary</span>
            </a>
    </div>
    
    
</section>

<section class="ourwork-evpo py-[11.1111vw] bg-secondary">
    <div class="container mx-auto">
        <!-- Tabs -->
        <div class="container mx-auto mb-10 px-5">
            <div class="flex gap-1">
            <button id="tab-event" class="tab-btn text-white py-2 px-10 border border-white active bg-primary" onclick="showTab('event')">
                Event
            </button>
            <button id="tab-podcast" class="tab-btn text-white py-2 px-10 border border-white bg-[#11111180]" onclick="showTab('podcast')">
                Podcast
            </button>
            </div>
        </div>
        
        <!-- Tab Content -->
        <div class="mt-6">
            <!-- Event Tab -->
            <div id="content-event" class="tab-content">
                <div class="swiper evpoSwiper mb-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                    </div>                    
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        
            <!-- Podcast Tab -->
            <div id="content-podcast" class="tab-content hidden">
                <div class="swiper evpoSwiper mb-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-1.jpg"/></div></div>
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-2.jpg"/></div></div>
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-3.jpg"/></div></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            </div>
        
        <!-- Tailwind Tab Toggle Script -->
        <script>
            function showTab(tab) {
            const tabs = ['event', 'podcast'];
            tabs.forEach(t => {
                document.getElementById('content-' + t).classList.add('hidden');
                document.getElementById('tab-' + t).classList.remove('bg-primary');
            });
        
            document.getElementById('content-' + tab).classList.remove('hidden');
            document.getElementById('tab-' + tab).classList.add('active','bg-primary');
            }
        </script>
  
    </div>
    
       
</section>