---
layout: base.njk
title: Our Work
activePage: our-work
headerType: alt
---

<section id="section1" class="ourwork-masthead relative w-full bg-[#211C1C]">
    <div class="container mx-auto w-full  relative z-3 py-6 px-5 justify-end pt-[208px]">        
        <a href="../our-work/" class="btn-back text-xl font-semibold leading-[1.2em] tracking-[-0.04em] text-primary mb-10 block max-w-[max-content]">[ Back to  our work index]</a>
        <div class="flex">
            <div class="left w-2/12">
                <div class="cover">
                    <img src="../assets/images/project-thumb-3.png" alt="img">
                </div>
            </div>
            <div class="right w-10/12">
                <div class="content text-white px-5 w-full z-20 relative">
                    <div class="lg:max-w-[1160px]">
                        <h1 class="font-intrumentsans font-semibold lg:text-7xl md:text-6xl text-4xl tracking-[-0.04em] leading-[1.1] mb-4">Death in Bali: A Joyful Celebration</h1>
                        
                    </div>            
                </div>        
                <div class="meta meta font-intrumentsans text-white font-semibold lg:mb-[64px] flex flex-wrap items-center gap-0 px-5 text-[22px]">
                    [ Film & Production]&nbsp;&nbsp;[May 16, 2024]
                </div>
            </div>
        </div>
        
    </div>
    <div class="container-fluid mx-auto">
        <div class="box-yt h-[100vh] max-h-[800px]">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/kWIA8Muydhs?si=nv-3NzNNAinX3f1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>        
    </div>
</section>

<section class="bg-[#211C1C] pt-20">
    
    <div class="container mx-auto px-5">
        <div class="flex flex-wrap gap-10 justify-between">
            <div class="col lg:w-4/12 md:w-3/12 w-full flex-none basis-full sm:flex-auto md:order-none order-2">
                <ul>
                    <li class="pb-3 border-b border-[#FFFFFF26] flex lg:flex-row flex-col gap-2">
                        <span class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] lg:inline-flex block align-super lg:w-2/12">Director</span>
                        <span class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] lg:w-10/12">Vivian Ikdayah</spab>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26] flex lg:flex-row flex-col gap-2">
                        <span class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] lg:inline-flex block align-super lg:w-2/12">Writers</span>
                        <span class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] lg:w-10/12">Vivian Ikdayah</spab>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26] flex lg:flex-row flex-col gap-2">
                        <span class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] lg:inline-flex block align-super lg:w-2/12">Crew-01</span>
                        <span class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] lg:w-10/12">Vivian Ikdayah</spab>
                    </li>
                    <li class="py-3 border-b border-[#FFFFFF26] flex lg:flex-row flex-col gap-2">
                        <span class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] lg:inline-flex block align-super lg:w-2/12">Crew-02</span>
                        <span class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em] lg:w-10/12">Vivian Ikdayah</spab>
                    </li>
                </ul>
            </div>
            <div class="col lg:w-7/12 md:w-8/12 w-full flex-none basis-full sm:flex-auto md:order-none order-1">
                <article class="text-white">
                    <p>Long description of the work will go here, we can go with 2 - 4 liner description to describe what we do and provide in this work and give potential customer/users more insights about it</p>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="about-people bg-[#211C1C] py-40">
    <div class="container mx-auto px-5">
        <h2 class="md:text-[3.47vw] lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-[80px] text-white lg:max-w-[680px]">Meet the Top Cast who gave their all in this amazing project</h2>
        <div class="people-wrap grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/cast-photo-1.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] ">Character Name</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Character Name</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col voidcard"></div> -->
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/cast-photo-2.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] ">Character Name</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Character Name</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/cast-photo-3.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] ">Character Name</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Character Name</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col voidcard"></div> -->
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/cast-photo-4.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] ">Character Name</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Character Name</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="people-item">
                    <img src="../assets/images/cast-photo-5.jpg" alt="people" class="w-full h-full object-cover">
                    <div class="content mt-6">
                        <p class="font-intrumentsans text-white/50 text-sm tracking-[-0.04em] ">Character Name</p>
                        <h3 class="font-intrumentsans text-white text-[22px] font-semibold mb-2 inline-flex tracking-[-0.04em]">Character Name</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
    <div class="btn-wrap flex gap-1 items-center px-5 mt-10">
        <a href="#" class="font-medium text-white leading-[1.3em] tracking-[-0.02em] text-center w-full bg-[#11111180] py-2 px-4 border border-[#FFFFFF80] hover:bg-[#111111] transition-all">Prev Work</a>
        <a href="#" class="font-medium text-white leading-[1.3em] tracking-[-0.02em] text-center w-full bg-[#11111180] py-2 px-4 border border-[#FFFFFF80] hover:bg-[#111111] transition-all">Next Work</a>
    </div>
</section>