---
layout: base.njk
title: Our Work
activePage: our-work
headerType: alt
---

<section id="section1" class="about-masthead relative w-full min-h-[100vh] bg-[#211C1C] pb-[340px]">
    <div class="container mx-auto w-full h-[100vh] relative z-3 py-6 flex flex-col flex-wrap justify-center items-center">
        <div class="content text-white px-5 w-full z-20 relative">
            <div class="lg:max-w-[1160px]">
                <h1 class="font-intrumentsans font-semibold md:text-80 text-5xl tracking-[-0.04em]  leading-[1.1] mb-4">Explore the creativity of Viking Sunset Studios through groundbreaking films and thought-provoking documentaries.</h1>
            </div>            
        </div>  
    </div>
    <a href="https://youtu.be/sDz5ypbxEiE?si=JkoLZKo4Utel_IDc" class="box-video absolute top-0 left-0 right-0 bottom-[-490px] w-full h-full max-h-[800px] m-auto object-cover" data-lity>
        <img class="thumbnail-img w-full h-full max-h-[800px] object-cover" src="../assets/images/masthead-thumbnail-ourwork.jpg" alt="thumbnail-masthead">
        <div class="content-fluid px-5 py-11 flex justify-between items-center absolute left-0 bottom-0 right-0 top-0 m-auto w-full text-center max-w-[max-content]">
            <div class="btn-play text-white font-intrumentsans text-[22px] font-semibold">
                <div class="ic"></div>
                <span>Play highlight</span>
            </div>
        </div>
    </a>
</section>

<section class="ourwork-documentary bg-[#211C1C] lg:py-40 py-20">
    <div class="container mx-auto">
        <h2 class="title-waksen font-intrumentsans text-[22px] leading-[1.5em] tracking-[-0.04em] font-semibold text-primary mb-10"><u></u><u></u><u></u><u></u>
            <span>Film & Documentary</span></h2>
    </div>
    <div class="fd-wrap">
        <a href="our-work-detail.html" class="fd-item block">
            <div class="container mx-auto py-10">
                <div class="work-heading mb-10">
                    <div class="content flex flex-wrap gap-10">
                        <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-3.png"/></div>
                        <div class="text w-9/12">
                            <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Death in Bali: A Joyful Celebration</h3>
                            <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                            <ul>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Service name goes here</span>
                                </li>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Year information goes here</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work-thumbnail">
                    <div class="box-youtube">
                        <iframe  src="https://www.youtube.com/embed/kWIA8Muydhs?si=nv-3NzNNAinX3f1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </a>
        <a href="our-work-detail.html" class="fd-item block">
            <div class="container mx-auto py-10">
                <div class="work-heading mb-10">
                    <div class="content flex flex-wrap gap-10">
                        <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-4.png"/></div>
                        <div class="text w-9/12">
                            <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">The Boy & The Ogoh-Ogoh</h3>
                            <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                            <ul>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Service name goes here</span>
                                </li>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Year information goes here</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work-thumbnail">
                    <div class="box-youtube">
                        <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            
        </a>
        <a href="our-work-detail.html" class="fd-item block ">
            <div class="container mx-auto py-10">
                <div class="work-heading mb-10">
                    <div class="content flex flex-wrap gap-10">
                        <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-5.png"/></div>
                        <div class="text w-9/12">
                            <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Asmaradana</h3>
                            <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                            <ul>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Service name goes here</span>
                                </li>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Year information goes here</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work-thumbnail">
                    <div class="box-youtube">
                        <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            
        </a>
        <a href="our-work-detail.html" class="fd-item block ">
            <div class="container mx-auto py-10">
                <div class="work-heading mb-10">
                    <div class="content flex flex-wrap gap-10">
                        <div class="thumbnail lg:w-[160px] w-3/12"><img src="../assets/images/project-thumb-1.png"/></div>
                        <div class="text w-9/12">
                            <h3 class="font-intrumentsans text-white lg:text-[50px] text-xl font-semibold mb-2 inline-flex leading-[1.1em] tracking-[-0.04em]">Sosak</h3>
                            <div class="misc text-[20px] leading-[1.5em] trackgin-[-0.02em] text-white mb-6">Short description goes here in maximum of 2-liner paragraph.</div>
                            <ul>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Service name goes here</span>
                                </li>
                                <li class="font-intrumentsans font-semibold text-2xl leading-[1.5em] trackgin-[-0.02em] text-white flex flex-wrap items-center gap-2 mb-3">
                                    <img src="../assets/images/ic-dot-box.svg" alt="icon" class="w-[22px] h-[22px] object-contain">
                                    <span>Year information goes here</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work-thumbnail">
                    <div class="box-youtube">
                        <iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>

<section class="ourwork-evpo py-[11.1111vw] bg-secondary">
    <div class="container mx-auto">
        <!-- Tabs -->
        <div class="container mx-auto mb-10">
            <div class="flex gap-1">
            <button id="tab-event" class="tab-btn text-white py-2 px-10 border border-white active bg-primary" onclick="showTab('event')">
                Event
            </button>
            <button id="tab-podcast" class="tab-btn text-white py-2 px-10 border border-white bg-[#11111180]" onclick="showTab('podcast')">
                Podcast
            </button>
            </div>
        </div>
        
        <!-- Tab Content -->
        <div class="mt-6">
            <!-- Event Tab -->
            <div id="content-event" class="tab-content">
                <div class="swiper evpoSwiper mb-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                        <div class="swiper-slide"><div class="box-yt nobutton"><span></span><span></span><span></span><span></span><iframe  src="https://www.youtube.com/embed/z_mUsm6Tux4?si=sedKvwMF0d3uW5HH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></div>
                    </div>
                </div>
            </div>
        
            <!-- Podcast Tab -->
            <div id="content-podcast" class="tab-content hidden">
                <div class="swiper evpoSwiper mb-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-1.jpg"/></div></div>
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-2.jpg"/></div></div>
                        <div class="swiper-slide"><div class="box-yt"><span></span><span></span><span></span><span></span><img src="../assets/images/evpo-thumbnail-3.jpg"/></div></div>
                    </div>
                </div>
            </div>
            </div>
        
        <!-- Tailwind Tab Toggle Script -->
        <script>
            function showTab(tab) {
            const tabs = ['event', 'podcast'];
            tabs.forEach(t => {
                document.getElementById('content-' + t).classList.add('hidden');
                document.getElementById('tab-' + t).classList.remove('bg-primary');
            });
        
            document.getElementById('content-' + tab).classList.remove('hidden');
            document.getElementById('tab-' + tab).classList.add('active','bg-primary');
            }
        </script>
  
    </div>
    
       
</section>