---
layout: base.njk
title: Services
activePage: services
headerType: alt
---

<section id="section1" class="about-masthead relative w-full min-h-[100vh] bg-[#211C1C] pb-[340px]">
    <div class="container mx-auto w-full h-[100vh] relative z-3 py-6 flex flex-col flex-wrap justify-center items-center">
        <div class="content text-white px-5 w-full z-20 relative">
            <div class="lg:max-w-[1160px]">
                <h1 class="font-intrumentsans font-semibold text-7xl tracking-[-0.04em]  leading-[1.1] mb-4">Experience the full range of production services at Viking Sunset Studios, where your vision becomes reality.</h1>
            </div>            
        </div>  
    </div>
    <div class="box-video absolute top-0 left-0 right-0 bottom-[-490px] w-full h-full max-h-[800px] m-auto object-cover">
        <img class="thumbnail-img w-full h-full max-h-[800px] object-cover" src="../assets/images/masthead-service-img.jpg" alt="thumbnail-masthead">
    </div>
</section>
<section class="services-list py-20 bg-[#211C1C]">
    <!-- Accordion Item 1 -->
    <div class="accordion-item border-b border-[#FFFFFF40] active">
        <div class="container mx-auto">
            <div class="accordion-toggle w-full px-2 py-2 text-center font-medium transition flex justify-between gap-4 text-white font-intrumentsans pb-20">
                <div class="number">[01]</div>
                <h3 class="flex justify-center gap-2 items-center font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[.8em]">
                    <span>Creative</span>
                    <img class="w-20 h-16 object-cover" src="../assets/images/evpo-thumbnail-1.jpg" alt="img">
                    <span>Development</span>
                </h3>
                <div class="btn-expnd text-xl text-primary font-semibold">[ - ]</div>
            </div>
            <div id="accordion1" class="accordion-content pt-10 pb-20 -mt-10">
                <div class="content w-10/12 mx-auto flex gap-10 text-white text-xl leading-6 tracking-[-0.02em] font-medium">
                    <div class="col left w-6/12">
                        <p>As one of the most challenging stages in any project, we specialize in providing Creative Development to our clients. With our team of experts, rest assured that your visual content will be nothing short of exceptional.</p>
                    </div>
                    <div class="col right w-6/12">
                        <small>Services</small>
                        <div class="list mt-6">
                            <span>Script writing</span>
                            <span>Storyboarding</span>
                            <span>Concept Art</span>
                            <span>Character Design</span>
                            <span>Creative Workshops</span>
                            <span>Research and Development</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Accordion Item 2 -->
    <div class="accordion-item border-b border-[#FFFFFF40]">
        <div class="container mx-auto">
            <div class="accordion-toggle w-full px-2 text-center font-medium transition flex justify-between gap-4 text-white font-intrumentsans py-20">
                <div class="number">[02]</div>
                <h3 class="flex justify-center gap-2 items-center font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[.8em]">
                    <span>Pre</span>
                    <img class="w-20 h-16 object-cover" src="../assets/images/evpo-thumbnail-1.jpg" alt="img">
                    <span>Production</span>
                </h3>
                <div class="btn-expnd text-xl text-primary font-semibold">[ + ]</div>
            </div>
            <div id="accordion2" class="accordion-content hidden pt-10 pb-20 -mt-10">
                <div class="content w-10/12 mx-auto flex gap-10 text-white text-xl leading-6 tracking-[-0.02em] font-medium">
                    <div class="col left w-6/12">
                        <p>As one of the most challenging stages in any project, we specialize in providing Creative Development to our clients. With our team of experts, rest assured that your visual content will be nothing short of exceptional.</p>
                    </div>
                    <div class="col right w-6/12">
                        <small>Services</small>
                        <div class="list mt-6">
                            <span>Script writing</span>
                            <span>Storyboarding</span>
                            <span>Concept Art</span>
                            <span>Character Design</span>
                            <span>Creative Workshops</span>
                            <span>Research and Development</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Accordion Item 3 -->
    <div class="accordion-item border-b border-[#FFFFFF40]">
        <div class="container mx-auto">
            <div class="accordion-toggle w-full px-2 text-center font-medium transition flex justify-between gap-4 text-white font-intrumentsans py-20" onclick="toggleAccordion('accordion3')">
                <div class="number">[03]</div>
                <h3 class="flex justify-center gap-2 items-center font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[.8em]">
                    <span>Production</span>
                </h3>
                <div class="btn-expnd text-xl text-primary font-semibold">[ + ]</div>
            </div>
            <div id="accordion3" class="accordion-content hidden pt-10 pb-20 -mt-10">
                <div class="content w-10/12 mx-auto flex gap-10 text-white text-xl leading-6 tracking-[-0.02em] font-medium">
                    <div class="col left w-6/12">
                        <p>As one of the most challenging stages in any project, we specialize in providing Creative Development to our clients. With our team of experts, rest assured that your visual content will be nothing short of exceptional.</p>
                    </div>
                    <div class="col right w-6/12">
                        <small>Services</small>
                        <div class="list mt-6">
                            <span>Script writing</span>
                            <span>Storyboarding</span>
                            <span>Concept Art</span>
                            <span>Character Design</span>
                            <span>Creative Workshops</span>
                            <span>Research and Development</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Accordion Item 4 -->
    <div class="accordion-item border-b border-[#FFFFFF40]">
        <div class="container mx-auto">
            <div class="accordion-toggle w-full px-2 text-center font-medium transition flex justify-between gap-4 text-white font-intrumentsans py-20">
                <div class="number">[04]</div>
                <h3 class="flex justify-center gap-2 items-center font-semibold md:text-[50px] text-5xl tracking-[-0.04em] leading-[.8em]">
                    <span>Post</span>
                    <img class="w-20 h-16 object-cover" src="../assets/images/evpo-thumbnail-1.jpg" alt="img">
                    <span>Production</span>
                </h3>
                <div class="btn-expnd text-xl text-primary font-semibold">[ + ]</div>
            </div>
            <div id="accordion4" class="accordion-content hidden  pt-10 pb-20 -mt-10">
                <div class="content w-10/12 mx-auto flex gap-10 text-white text-xl leading-6 tracking-[-0.02em] font-medium">
                    <div class="col left w-6/12">
                        <p>As one of the most challenging stages in any project, we specialize in providing Creative Development to our clients. With our team of experts, rest assured that your visual content will be nothing short of exceptional.</p>
                    </div>
                    <div class="col right w-6/12">
                        <small>Services</small>
                        <div class="list mt-6">
                            <span>Script writing</span>
                            <span>Storyboarding</span>
                            <span>Concept Art</span>
                            <span>Character Design</span>
                            <span>Creative Workshops</span>
                            <span>Research and Development</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-40 bg-[#211C1C]">
    <div class="container mx-auto">
        <h2 class="md:text-[3.47vw] text-center mx-auto lg:text-[50px] text-xl font-intrumentsans leading-[1.1] font-semibold tracking-[-0.06em] mb-4 text-white lg:max-w-[680px]">Client Experiences</h2>
        <div class="subtitle text-xl text-center text-white mb-20 lg:max-w-[680px] mx-auto">These testimonials reflect our dedication to turning visions into cinematic realities.</div>
        <article class=" text-white text-center">
            <p class="text-2xl lg:text-[28px] leading-[1.5em] tracking-[-0.02em]">“The post-production services at Viking Sunset Studios exceeded our expectations. The attention to detail in editing and sound design turned our raw footage into a polished masterpiece. Their team's expertise and innovation made a significant difference, and we couldn't be happier with the final result.”</p>
        </article>
        <div class="pp-wrap flex flex-wrap justify-center items-center mt-16">
            <div class="pp-item text-center relative">
                <div class="photo mx-auto p-6">
                    <u></u>
                    <u></u>
                    <u></u>
                    <u></u>
                    <img src="../assets/images/dummy-photo.jpg" alt="photo">
                </div>
                <div class="namepos absolute left-0 bottom-[-24px] text-white">
                    <span class="name">Sara T,</span>
                    <span class="pos">Producer</span>
                </div>
            </div>
            <div class="pp-item text-center relative">
                <div class="photo mx-auto p-6">
                    <u></u>
                    <u></u>
                    <u></u>
                    <u></u>
                    <img src="../assets/images/dummy-photo.jpg" alt="photo">
                </div>
                <div class="namepos absolute left-0 bottom-[-24px] text-white">
                    <span class="name">Sara T,</span>
                    <span class="pos">Producer</span>
                </div>
            </div>
            <div class="pp-item active text-center relative">
                <div class="photo mx-auto p-6">
                    <u></u>
                    <u></u>
                    <u></u>
                    <u></u>
                    <img src="../assets/images/dummy-photo.jpg" alt="photo">
                </div>
                <div class="namepos absolute left-0 bottom-[-24px] text-white">
                    <span class="name">Sara T,</span>
                    <span class="pos">Producer</span>
                </div>
            </div>
            <div class="pp-item text-center relative">
                <div class="photo mx-auto p-6">
                    <u></u>
                    <u></u>
                    <u></u>
                    <u></u>
                    <img src="../assets/images/dummy-photo.jpg" alt="photo">
                </div>
                <div class="namepos absolute left-0 bottom-[-24px] text-white">
                    <span class="name">Sara T,</span>
                    <span class="pos">Producer</span>
                </div>
            </div>
            <div class="pp-item text-center relative">
                <div class="photo mx-auto p-6">
                    <u></u>
                    <u></u>
                    <u></u>
                    <u></u>
                    <img src="../assets/images/dummy-photo.jpg" alt="photo">
                </div>
                <div class="namepos absolute left-0 bottom-[-24px] text-white">
                    <span class="name">Sara T,</span>
                    <span class="pos">Producer</span>
                </div>
            </div>
            
        </div>
    </div>
</section>